<div class="modal fade" id="joinLeagueTeam" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">이제 <strong><%= user.joinedLeagues[0].teamName %></strong> 팀은 '<%= league.community %> <%= league.season %>' 시즌에 등록됩니다.</h4>
			</div>
				<form method="post" action="/league/<%= league.leagueId %>/joinLeagueTeam" role="form" enctype="multipart/form-data">
					<div class="modal-body">
						<p>새로운 리더는 누구인가요??</p>
						<input type="hidden" name="teamId" value="<%= user.joinedLeagues[0].teamId %>">
						<div class="form-group">
							<select class="form-control" name="leaderId">
								<!-- ajax -->
							</select>
						</div>
						<input type="hidden" name="playerList" value="">
					</div>

					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
						<button type="submit" class="btn btn-primary">등록하기</button>
					</div>

				</form>

		</div>
	</div>
</div>

