<!DOCTYPE html>
<html>
	<head>
		<% include ../layout/head %>
	</head>
	<body>

		<% include ../layout/navbar %>

		<div class="container">

			<h4 class="text-left">League -  </h4>

			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-info">
						<div class="panel-heading">
							<h3 class="panel-title">여주 2015</h3>
						</div>
						<a href="/league/5/match">
							<div class="panel-body">
								<h4>명단 수정기간입니다.</h4>
								<p class="text-center"><strong>2015년 3월 14일 19:00</strong> 까지.</p>
							</div>
						</a>
					</div>
				</div>
			</div>

			<!-- <div class="row"> -->
			<div class="row vertical-align">

		        <div class="col-md-12">
		            <div class="box">
		                <div class="box-icon">
		                	<img id="teamLogo" class="img-circle" src="/images/default/defaultUser140.jpg" width="140" height="140" border="0">
		                </div>
		                <div class="info text-center">
		                    <h4><%= user.playerName %></h4>

							<p>
								<small><i class="fa fa-birthday-cake"></i> <%= user.birthday %></small>
								<br>
								<small><i class="fa fa-envelope-o"></i> <%= user.email %></small>
							</p>
		                </div>

		                <% if (user.currentLeague.length > 0) { %>
						        <div class="col-md-4">
									<center>
											<div class="info-item"><%= user.currentLeague[0].season %></div>
										<a href="/league/<%= user.currentLeague[0].leagueId %>/match">
											<p><%= user.currentLeague[0].community %></p>
										</a>
									</center>
									<p></p>
						        </div>
						        <div class="col-md-4">
						            <center>
						            	<a href="/league/<%= user.currentLeague[0].leagueId %>/club/<%= user.currentLeague[0].clubId %>">
							            	<div class="info-item" style="padding-bottom:8px;">
							            		<img class="vertical-image" src="/images/team/<%= user.currentLeague[0].teamId %>/image.jpg" alt="64x64">
							            	</div>
											<p><%= user.currentLeague[0].teamName %></p>
						            	</a>
									</center>
									<p></p>
						        </div>
						        <div class="col-md-4">
						            <center>
						            	<div class="info-item"><%= user.currentLeague[0].squadNumber %></div>
										<p><%= user.currentLeague[0].position %></p>
									</center>
									<p></p>
						        </div>
						<% }else { %>

								<% include ../table/playerTransferTable %>
						<% } %>
						<% include ../table/playerCareerTable %>
		            </div>
	        	</div>
			</div>
			<br>
			<br>

			<% include ../layout/footer %>

			<% include ../modal/playerModal %>

		</div> <!-- /container -->

		<% include ../layout/defaultPlugins %>

		<script>
			// table sum
			$("#playerCareer tfoot tr:first td:not(:first)").text(function(i){
			    var total = 0;

			    $("#playerCareer tbody").find("td:nth-child("+(i+2)+")").each(function(){

			        total += parseInt( $(this).text(), 10 ) || 0;
			    });
			    return total;
			});

		</script>

	</body>
</html>