<!DOCTYPE html>
<html>
	<head>
		<% include ../layout/head %>
	</head>
	<body>

		<% include ../layout/navbar %>

		<div class="container">

			<div class="testDiv"></div>

			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">League -  여주 2015</h3>
				</div>
				<a href="/league/5/match">
					<div class="panel-body">
						<h4 class="text-center">명단 수정기간입니다.</h4>
						<p class="text-center"><strong>2015년 3월 14일 19:00</strong> 까지.</p>
					</div>
				</a>
			</div>


			<div class="panel panel-default">
				<div class="panel-body">
					<center>
						<img id="teamLogo" class="img-circle" src="/images/default/defaultUser140.jpg" width="140" height="140" border="0">
					</center>
					<div class="info text-center">
	                    <h4><%= user.playerName %></h4>

						<p>
							<small><i class="fa fa-birthday-cake"></i> <%= user.birthday %></small>
							<br>
							<small><i class="fa fa-envelope-o"></i> <%= user.email %></small>
						</p>
	                </div>
	                <% if (user.currentLeague.length > 0) { %>
					        <div class="col-md-4">
								<center>
									<div class="info-item"><%= user.currentLeague[0].season %></div>
									<a href="/league/<%= user.currentLeague[0].leagueId %>/match">
										<p><%= user.currentLeague[0].community %></p>
									</a>
								</center>
								<p></p>
					        </div>
					        <div class="col-md-4">
					            <center>
					            	<a href="/league/<%= user.currentLeague[0].leagueId %>/club/<%= user.currentLeague[0].clubId %>">
						            	<div class="info-item" style="padding-bottom:8px;">
						            		<img class="vertical-image" src="/images/team/<%= user.currentLeague[0].teamId %>/image.jpg" alt="64x64">
						            	</div>
										<p><%= user.currentLeague[0].teamName %></p>
					            	</a>
								</center>
								<p></p>
					        </div>
					        <div class="col-md-4">
					            <center>
					            	<div class="info-item"><%= user.currentLeague[0].squadNumber %></div>
									<p><%= user.currentLeague[0].position %></p>
								</center>
								<p></p>
					        </div>
					<% }else if (user.transfer.length > 0) { %>

							<% include ../table/playerTransferTable %>
					<% }else if (!(user.joinedLeagues.length > 0 )) { %>
						<center>
							<p>
								현재 소속된 클럽이 없습니다.
								<br>
								<small>클럽에 가입하세요.</small>
							</p>
						</center>
					<% } %>

					<% include ../table/playerCareerTable %>
				</div>
			</div>

			<br>
			<br>

			<% include ../layout/footer %>

			<div class="modal fade testModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
			</div>
			<div class="modal fade playerModal" tabindex="-1" role="dialog" aria-labelledby="playerTitle" aria-hidden="true">
			</div>


			<script type="text/template" id="item-template">
				<a href="/search/player/{{= userId }}" data-toggle="modal" data-target=".playerModal">{{= playerName }}</a>
				<small class="text-muted">{{= typeof(teamName) != 'undefined' ? teamName : '' }}</small>
			</script>

			<% include ../modal/playerModal %>


		</div> <!-- /container -->

		<% include ../layout/defaultPlugins %>

		<script>
			// table sum
			$(".playerCareer tfoot tr:first td:not(:first)").text(function(i){
			    var total = 0;

			    $(".playerCareer tbody").find("td:nth-child("+(i+2)+")").each(function(){

			        total += parseInt( $(this).text(), 10 ) || 0;
			    });
			    return total;
			});

			$('.modal').on('shown.bs.modal', function (e) {
				$(".playerCareerModal tfoot tr:first td:not(:first)").text(function(i){
				    var total = 0;

				    if(i == 0) return;
				    $(".playerCareerModal tbody").find("td:nth-child("+(i+2)+")").each(function(){

				        total += parseInt( $(this).text(), 10 ) || 0;
				    });
				    return total;
				});
				NProgress.done();
			})

		</script>

	</body>
</html>