<!DOCTYPE html>
<html>
	<head>
		<% include ../layout/head %>
	</head>
	<body>

		<% include ../layout/navbar %>

		<div class="container">

			<h4 class="text-left">League -  </h4>

			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-info">
						<div class="panel-heading">
							<h3 class="panel-title">여주 2015</h3>
						</div>
						<a href="/league/5/match">
							<div class="panel-body">
								<h4>명단 수정기간입니다.</h4>
								<p class="text-center"><strong>2015년 3월 14일 19:00</strong> 까지.</p>
							</div>
						</a>
					</div>
				</div>
			</div>

			<!-- <div class="row"> -->
			<div class="row vertical-align">

		        <div class="col-md-12">
		            <div class="box">
		                <div class="box-icon">
		                	<img id="teamLogo" class="img-circle" src="/images/default/defaultUser140.jpg" width="140" height="140" border="0">
		                </div>
		                <div class="info text-center">
		                    <h4><%= user.playerName %></h4>

							<p>
								<small><i class="fa fa-birthday-cake"></i> <%= user.birthday %></small>
								<br>
								<small><i class="fa fa-envelope-o"></i> <%= user.email %></small>
							</p>
		                </div>

		                <% if (user.currentLeague.length > 0) { %>
						        <div class="col-md-4">
									<center>
										<div class="info-item"><%= user.currentLeague[0].season %></div>
										<a href="/league/<%= user.currentLeague[0].leagueId %>/match">
											<p><%= user.currentLeague[0].community %></p>
										</a>
									</center>
									<p></p>
						        </div>
						        <div class="col-md-4">
						            <center>
						            	<a href="/league/<%= user.currentLeague[0].leagueId %>/club/<%= user.currentLeague[0].clubId %>">
							            	<div class="info-item" style="padding-bottom:8px;">
							            		<img class="vertical-image" src="/images/team/<%= user.currentLeague[0].teamId %>/image.jpg" alt="64x64">
							            	</div>
											<p><%= user.currentLeague[0].teamName %></p>
						            	</a>
									</center>
									<p></p>
						        </div>
						        <div class="col-md-4">
						            <center>
						            	<div class="info-item"><%= user.currentLeague[0].squadNumber %></div>
										<p><%= user.currentLeague[0].position %></p>
									</center>
									<p></p>
						        </div>
						<% }else if (user.transfer.length > 0) { %>

								<% include ../table/playerTransferTable %>
						<% }else if (!(user.joinedLeagues.length > 0 )) { %>
							<center>
								<p>
									현재 소속된 클럽이 없습니다.
									<br>
									<small>클럽에 가입하세요.</small>
								</p>
							</center>
						<% } %>

						<% include ../table/playerCareerTable %>
		            </div>
	        	</div>
			</div>
			<br>
			<br>

			<% include ../layout/footer %>

			<% /* include ../modal/playerModal */ %>


			<div class="modal fade testModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
			</div>
			<div class="modal fade playerModal" tabindex="-1" role="dialog" aria-labelledby="playerTitle" aria-hidden="true">
			</div>

			<script type="text/template" id="item-template">
				<a href="/search/player/{{= userId }}" data-toggle="modal" data-target=".playerModal">{{= playerName }}</a>
				<small class="text-muted">{{= typeof(teamName) != 'undefined' ? teamName : '' }}</small>

				{{ if (!currentLeague.length > 0) { }}
					<a href="javascript:void(0)"><span class="pull-right glyphicon glyphicon-plus text-success"></span></a>
				{{ } }}
			</script>

			<script type="text/template" id="player-modal-template" src="/js/modal/playerModal.js">
				<div class="modal-dialog">
				    <div class="modal-content">
				        <div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="playerTitle">선수정보</h4>
				        </div>
				        <div class="modal-body">
							<center>
								<img id="teamLogo" class="img-circle" src="/images/default/defaultUser140.jpg" width="140" height="140" border="0">
								<h3>{{= playerName }}</h3>
				            </center>
							<p class="text-muted">
								<i class="fa fa-birthday-cake"></i> <small>{{= birthday }}</small>
								<br>
								<i class="fa fa-envelope-o"></i> <small>{{= email }}</small>
							</p>
							{{ if (currentLeague.length > 0) { }}
			    				<div class="row">
				                    <div class="col-md-4">
				                        <center>
				                            <div class="info-item"> {{= currentLeague[0].season}} </div>
				                            <a href="/league/{{ currentLeague[0].leagueId }}/match">
				                                <p> {{= currentLeague[0].community }} </p>
				                            </a>
				                        </center>
				                    </div>
				                    <div class="col-md-4">
				                        <center>
				                            <a href="/league/{{= currentLeague[0].leagueId }}/club/{{= currentLeague[0].clubId }}">
				                                <div class="info-item" style="padding-bottom:8px;">
				                                    <img class="vertical-image" src="/images/team/{{= currentLeague[0].teamId }}/image.jpg" alt="64x64">
				                                </div>
				                                <p> {{= currentLeague[0].teamName }} </p>
				                            </a>
				                        </center>
				                        <p></p>
				                    </div>
				                    <div class="col-md-4">
				                        <center>
				                            <div class="info-item"> {{= currentLeague[0].squadNumber }} </div>
				                            <p> {{= currentLeague[0].position }} </p>
				                        </center>
				                        <p></p>
				                    </div>
			                    </div>
							{{ }else if (!joinedLeagues.length > 0 && !transfer.length > 0){ }}
			                    <div class="row">
									<center>
										<p>
											현재 소속된 클럽이 없습니다.
											<br>
											<small>클럽에 가입하세요.</small>
										</p>
									</center>
								</div>
							{{ }else if (transfer.length > 0) { }}
								<table class="table">
									<caption>
										<h4 class="text-left">My Transfer - </h4>
									</caption>
									<thead>
										<tr>
											<th></th>
											<th>확인</th>
											<th>시즌</th>
											<th>클럽</th>
										</tr>
									</thead>
									<tbody>
										{{ transfer.forEach(function (item, index) { }}
											{{ switch(item.transferStatus) { case 'transfered' : }}
												<tr>
													{{ switch(item.transfer) { case "loveCall" : }}
														<td>러브콜</td>
														<td>
															<span class="glyphicon glyphicon-ok text-success"></span>
														</td>
														<td>
															 {{= item.season }} {{= item.community }}
														</td>
														<td>
															<a href="/league/{{= item.leagueId }}/club/{{= item.clubId }}"> {{= item.teamName }} + </a>
														</td>
													{{ break; case "requestCall" : }}
														<td>가입요청</td>
														<td>
															<span class="glyphicon glyphicon-ok text-success"></span>
														</td>
														<td>
															 {{= item.season }} {{= item.community }}
														</td>
														<td>
															<a href="/league/{{= item.leagueId }}/club/{{= item.clubId }}"> {{= item.teamName }}</a>
														</td>
													{{ break; } }}
												</tr>
											{{ break; case "wait" : }}
												<tr>
													{{ switch(item.transfer) { case "loveCall" : }}
														<td>러브콜</td>
														<td>
															<span class="glyphicon glyphicon-pencil text-primary" data-toggle="modal" data-target=""></span>
														</td>
														<td>
															 {{= item.season }} {{= item.community }}
														</td>
														<td>
															<a href="/league/{{= item.leagueId }}/club/{{= item.clubId }}"> {{= item.teamName }}</a>
														</td>
													{{ break; case "requestCall" : }}
														<td>가입요청</td>
														<td>
															대기중..;
														</td>
														<td>
															 {{= item.season }} {{= item.community }}
														</td>
														<td>
															<a href="/league/{{= item.leagueId }}/club/{{= item.clubId }}"> {{= item.teamName }}</a>
														</td>
													{{ break; } }}
												</tr>
											{{ break; case "reject" : case "rejected" : }}
												<tr>
													{{ switch(item.transfer) { case "loveCall" : }}
														<td>러브콜</td>
														<td>
															거절
														</td>
														<td>
															 {{= item.season }} {{= item.community }}
														</td>
														<td>
															<a href="/league/{{= item.leagueId }}/club/{{= item.clubId }}"> {{= item.teamName }}</a>
														</td>
													{{ break; case "requestCall" : }}
														<td>가입요청</td>
														<td>
															거절
														</td>
														<td>
															 {{= item.season }} {{= item.community }}
														</td>
														<td>
															<a href="/league/{{= item.leagueId }}/club/{{= item.clubId }}"> {{= item.teamName }}</a>
														</td>
													{{ break; } }}
												</tr>

											{{ break; } }}
										{{ }); }}
									</tbody>
								</table>
							{{ } }}


				            {{ if (joinedLeagues.length > 0) { }}
								<table class="table playerCareerModal">
									<caption>
										<h4 class="text-left">My Career - </h4>
									</caption>
									<thead>
										<tr>
											<th>시즌</th>
											<th>경기</th>
											<th>out</th>
											<th>in</th>
											<th>득점</th>
											<th>pk득점</th>
											<th class="hidden-xs hidden-sm hidden-md">자책골</th>
											<th class="hidden-xs hidden-sm hidden-md">pk실축</th>
											<th class="hidden-xs hidden-sm hidden-md">y카드</th>
											<th class="hidden-xs hidden-sm hidden-md">r카드</th>
											<th class="hidden-xs hidden-sm hidden-md">y2카드</th>
										</tr>
									</thead>
									<tfoot>
										<tr class="info">
											<td>합계</td>
											<td>played</td>
											<td>out</td>
											<td>in</td>
											<td>goalScored</td>
											<td>penaltyScored</td>
											<td class="hidden-xs hidden-sm hidden-md">ownGoal</td>
											<td class="hidden-xs hidden-sm hidden-md">penaltyMissed</td>
											<td class="hidden-xs hidden-sm hidden-md">yellowCard</td>
											<td class="hidden-xs hidden-sm hidden-md">redCard</td>
											<td class="hidden-xs hidden-sm hidden-md">secondYellowCard</td>
										</tr>
										<tr>
											<td colspan="11">
												<p class="text-right"><small><span class="text-danger">(c)</span> - captain</small></p>
											</td>
										</tr>
									</tfoot>
									<tbody>

										{{ joinedLeagues.forEach(function (item, index) { }}
											<tr class="text-muted">
												<td>
													<a href="/league/{{= item.leagueId }}/match">
														{{= item.season }} {{= item.community}}
														{{ if (item.leader) { }}
															<span class="text-danger"> (c)</span>
														{{ } }}
													</a>
													종료
												</td>
												<td>{{= item.played }}</td>
												<td>{{= item.out }}</td>
												<td>{{= item.in }}</td>
												<td>{{= item.goalScored }}</td>
												<td>{{= item.penaltyScored }}</td>
												<td class="hidden-xs hidden-sm hidden-md">{{= item.ownGoal }}</td>
												<td class="hidden-xs hidden-sm hidden-md">{{= item.penaltyMissed }}</td>
												<td class="hidden-xs hidden-sm hidden-md">{{= item.yellowCard }}</td>
												<td class="hidden-xs hidden-sm hidden-md">{{= item.redCard }}</td>
												<td class="hidden-xs hidden-sm hidden-md">{{= item.secondYellowCard }}</td>
											</tr>
										{{ }); }}
									</tbody>
								</table>
							{{ } }}

				        </div>



				        <div class="modal-footer">

				        </div>
				    </div>
				</div>
			</script>

		</div> <!-- /container -->

		<% include ../layout/defaultPlugins %>

		<script>
			// table sum
			$(".playerCareer tfoot tr:first td:not(:first)").text(function(i){
			    var total = 0;

			    $(".playerCareer tbody").find("td:nth-child("+(i+2)+")").each(function(){

			        total += parseInt( $(this).text(), 10 ) || 0;
			    });
			    return total;
			});

			$('.modal').on('shown.bs.modal', function (e) {
				console.log('select   : ', $(".playerCareerModal"));
				$(".playerCareerModal tfoot tr:first td:not(:first)").text(function(i){
				    var total = 0;

				    $(".playerCareerModal tbody").find("td:nth-child("+(i+2)+")").each(function(){

				        total += parseInt( $(this).text(), 10 ) || 0;
				    });
				    return total;
				});
			})

		</script>

		<script>
			var searchApp = {};
			!function ($) {
				searchApp.item = Backbone.Model.extend({});
				searchApp.ItemList = Backbone.Collection.extend({
					model : searchApp.item,

					url : function (){
						var query = $("#search").val();
						console.log('query         ', query);
						return '/search/' + query;
					}
				});

				searchApp.ItemView = Backbone.View.extend({

					tagName : 'li',

					className : "list-group-item",

					template : _.template($('#item-template').html()),

					events : {
						'click a[data-toggle="modal"]' : 'getInfo',
						'click span.glyphicon-plus' : 'loveCall'
						 // text-success
					},

					initialize : function () {

						// console.log("itemView initialized");
					},

					render : function () {
						var item = this.model.toJSON();
						if(!item.more) {
							this.$el.html(this.template(this.model.toJSON()));
							return this;
						}
					},

					getInfo : function () {
						var PlayerModel = Backbone.Model.extend({
							url : '/search/player/' + this.model.toJSON().userId
						})
						var player = new PlayerModel;
						player.fetch();
						player.on('sync', function (){
							var infoTemplate = _.template($('#player-modal-template').html());
							$(".playerModal").html(infoTemplate(arguments[1]));
						});



						// _.template($("#player-modal-template").html());
					},

					loveCall : function () {
						console.log('click loveCall');
					}
				});

				searchApp.AppView = Backbone.View.extend({

					el: $(".navbar-nav"),

					events : {
						'keyup #search': 'getItem',
					},

					initialize : function () {
						this.$list = $('ul#results');

						console.log("initialize is called");

						searchApp.itemList = new searchApp.ItemList();
						this.listenTo(searchApp.itemList, 'reset', this.addAll);

					},

					getItem : function () {
						var query = $("#search").val();
						if (query !== ''){
							searchApp.itemList.fetch({reset : true});
						}else {
							this.clear();
						}
					},

					addOne: function (player) {
						var attr = player.attributes;
						if (!attr.more && attr.userId) {
							var view = new searchApp.ItemView({ model: player });
							this.$list.append(view.render().el);
						}else if(!attr.userId && !attr.more) {
							this.$list.append(
								'<li class="list-group-item">' +
								attr.playerName + ' <small class="text-muted">' + attr.teamName + '</small>' +
								'</li>'
							);
						}else {
							this.$list.append(
								'<li class="list-group-item">' +
								'<a href="">' + attr.more + '명의 결과 더 보기</a>' +
								'</li>'
							);
						}
					},

					addAll : function () {
						this.clear();
						searchApp.itemList.each(this.addOne, this);
					},

					clear : function () {
						this.$list.html('');
					}
				});

				new searchApp.AppView();

			} ($);
		</script>
	</body>
</html>