<div class="jumbotron">
	<h2> <strong><%= user.playerName %></strong> <small>님.</small></h2>
	<p class="lead">
		<small>최근 '<%= user.joinedLeagues[0].season %><%= user.joinedLeagues[0].community %>'&nbsp;
			<span class="text-primary"><%= user.joinedLeagues[0].teamName %></span>팀의 리더를 맡았습니다.
			<br>
			새로운 리그에 참가하려면 팀을 리그에 등록해야 합니다.
		</small>
	</p>
	<p>
		<strong><%= league.community %> <%= league.season %>시즌</strong>에 <strong><%= user.joinedLeagues[0].teamName %></strong> 팀을 등록하시겠습니까?
	</p>

	<button type="button" class="btn btn-lg btn-block btn-success" data-clubId="<%= user.joinedLeagues[0].clubId %>">
		리그에 팀 등록&nbsp;
		<span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
	</button>
</div>