
<table class="table" id="playerCareer">
	<caption>
		<h4 class="text-left">My Career - </h4>
	</caption>
	<thead>
		<tr>
			<th>시즌</th>
			<th>경기</th>
			<th>out</th>
			<th>in</th>
			<th>득점</th>
			<th>pk득점</th>
			<th class="hidden-xs">자책골</th>
			<th class="hidden-xs">pk실축</th>
			<th class="hidden-xs">y카드</th>
			<th class="hidden-xs">r카드</th>
			<th class="hidden-xs">y2카드</th>
		</tr>
	</thead>
	<tfoot>
		<tr class="info">
			<td>합계</td>
			<td>played</td>
			<td>out</td>
			<td>in</td>
			<td>goalScored</td>
			<td>penaltyScored</td>
			<td class="hidden-xs">ownGoal</td>
			<td class="hidden-xs">penaltyMissed</td>
			<td class="hidden-xs">yellowCard</td>
			<td class="hidden-xs">redCard</td>
			<td class="hidden-xs">secondYellowCard</td>
		</tr>
		<tr>
			<td colspan="11">
				<p class="text-right"><small><span class="text-danger">(c)</span> - captain</small></p>
			</td>
		</tr>
	</tfoot>
	<tbody>
		<% user.joinedLeagues.forEach(function (item, index) { %>
			<tr class="text-muted">

				<td>
					<a href="/league/<%= item.leagueId%>/match">
						<%= item.season %> <%= item.community %>
						<% if (item.leader) { %>
							<span class="text-danger"> (c)</span>
						<% } %>
					</a>
					종료
				</td>
				<td><%= item.played %></td>
				<td><%= item.out %></td>
				<td><%= item.in %></td>
				<td><%= item.goalScored %></td>
				<td><%= item.penaltyScored %></td>
				<td class="hidden-xs"><%= item.ownGoal %></td>
				<td class="hidden-xs"><%= item.penaltyMissed %></td>
				<td class="hidden-xs"><%= item.yellowCard %></td>
				<td class="hidden-xs"><%= item.redCard %></td>
				<td class="hidden-xs"><%= item.secondYellowCard %></td>
			</tr>
		<% }); %>
	</tbody>
</table>

