<!DOCTYPE html>
<html>
  <head>
    <% include ../layout/head %>
    <style>
      .glyphicon-pencil{
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <% include ../layout/navbar %>
    <div class="container">


        <center>
          <!-- <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRbezqZpEuwGSvitKy3wrwnth5kysKdRqBW54cAszm_wiutku3R" name="aboutme" width="140" height="140" border="0" class="img-circle"> -->
          <img class="img-circle" src="/images/user/<%= user.userId %>/<%= user.userId %>-normal.jpg">
          <br>
          <br>

          <h3 class="media-heading"><%= user.playerName%> <small><%= user.teamName %></small></h3>
        </center>

        <hr>

        <table class="table table-hover">
          <tbody>
            <tr>
              <td>생년월일</td>
              <td><%= user.birthday%></td>
              <td></td>
            </tr>
            <tr>
              <td>프로필사진</td>
              <td>프로필사진을 변경할 수 있습니다.</td>
              <td><span class="glyphicon glyphicon glyphicon-pencil pull-right" data-toggle="modal" data-target=".updateProfileImg"></span></td>
            </tr>
            <tr>
              <td>비밀번호</td>
              <td>비밀번호를 변경할 수 있습니다.</td>
              <td><span class="glyphicon glyphicon glyphicon-pencil pull-right" data-toggle="modal" data-target=".updatePassword"></span></td>
            </tr>

            <tr>
              <td>팀 이름</td>
              <td>위너</td>
              <td><span class="glyphicon glyphicon glyphicon-pencil pull-right" data-toggle="modal" data-target=".changeTeamName"></span></td>
            </tr>
            <tr>
              <td>팀 로고</td>
              <td><img src="/images/default/defaultClub.jpg" class="img-circle"></td>
              <td><span class="glyphicon glyphicon glyphicon-pencil pull-right" data-toggle="modal" data-target=".changeTeamLogo"></span></td>
            </tr>
          </tbody>
        </table>




<!----------------------------- profileImg ---------------------------->
<div class="modal fade updateProfileImg" tabindex="-1" role="dialog" aria-labelledby="h4#changeProfileImgH4" aria-hidden="true">

  <form id="updateProfileImg" class="form" action="/updateProfileImg" method="post" role="form" enctype="multipart/form-data">

    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="changeProfileImgH4"><strong>새로운 프로필 이미지</strong></h4>
        </div>
        <div class="modal-body">

          <div class="form-group">
            <label for="exampleInputFile">File input</label>
            <input type="file" id="exampleInputFile" name="profileImg">
            <p class="help-block">Example block-level help text here.</p>
          </div>


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">취소</button>
          <button type="submit" class="btn btn-primary">변경</button>
        </div>
      </div>
    </div>

  </form>

</div>


<!----------------------------- password ---------------------------->
<div class="modal fade updatePassword" tabindex="-1" role="dialog" aria-labelledby="h4#updatePasswordH4" aria-hidden="true">

  <form id="updatePassword" class="form" action="/updatePassword" method="post" role="form">

    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="updatePasswordH4"><strong>새로운 비밀번호</strong></h4>
        </div>
        <div class="modal-body">

            <div class="form-group">
              <label class="control-label" for="currentPassword">현재 비밀번호</label>
              <input type="password" class="form-control" id="currentPassword" name="currentPassword">
            </div>

            <div class="form-group">
              <label class="control-label" for="newPassword">새로운 비밀번호</label>
              <input type="password" class="form-control" id="newPassword" name="newPassword">
            </div>

            <div class="form-group">
              <label class="control-label" for="confirmNewPassword">새로운 비밀번호 한번 더</label>
              <input type="password" class="form-control" id="confirmNewPassword" name="confirmNewPassword">
            </div>

            <div id="disPassword" class="alert alert-dismissable alert-danger">
              현재 비밀번호가 틀립니다!!
            </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">취소</button>
          <button type="submit" class="btn btn-primary">변경</button>
        </div>


      </div>
    </div>

  </form>

</div>



<!----------------------------- teamName ---------------------------->
<div class="modal fade changeTeamName" tabindex="-1" role="dialog" aria-labelledby="h4#changeTeamNameH4" aria-hidden="true">

  <form id="changeTeamName" class="form" action="/changeTeamName" method="post" role="form">

    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="changeTeamNameH4"><strong>새로운 팀이름</strong></h4>
        </div>
        <div class="modal-body">


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">취소</button>
          <button type="submit" class="btn btn-primary">변경</button>
        </div>
      </div>
    </div>

  </form>

</div>


<!----------------------------- teamLogo ---------------------------->
<div class="modal fade changeTeamLogo" tabindex="-1" role="dialog" aria-labelledby="h4#changeTeamLogoH4" aria-hidden="true">

  <form id="changeTeamLogo" class="form" action="/changeTeamLogo" method="post" role="form">

    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="changeTeamLogoH4"><strong>새로운 팀 로고</strong></h4>
        </div>
        <div class="modal-body">


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">취소</button>
          <button type="submit" class="btn btn-primary">변경</button>
        </div>
      </div>
    </div>

  </form>

</div>



      <% include ../layout/footer %>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <% include ../layout/defaultPlugins %>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.0/js/bootstrapValidator.min.js"></script>
    <script>

      $("#disPassword").hide();

      <!----------------------------- updatePassword Validatation ---------------------------->
      $('#updatePassword').bootstrapValidator({
          // To use feedback icons, ensure that you use Bootstrap v3.1.0 or later
          live : 'submitted',
          feedbackIcons: {
              valid: 'glyphicon glyphicon-ok',
              invalid: 'glyphicon glyphicon-remove',
              validating: 'glyphicon glyphicon-refresh'
          },
          fields: {
              currentPassword: {
                  feedbackIcons: 'false',
                  validators: {
                      notEmpty: {
                          message: '기존의 비밀번호는 꼭 필요합니다.'
                      }
                  }
              },
              newPassword: {
                  feedbackIcons: 'false',
                  validators: {
                      notEmpty: {
                          message: '비밀번호는 꼭 필요합니다.'
                      },
                      identical: {
                          field: 'confirmNewPassword',
                          message: '비밀번호를 같게 해 주세요.'
                      }
                      // different: {
                      //     field: 'firstName',
                      //     message: '이름이 비밀번호와 같아요. 다르게 해주세요.'
                      // },
                      // stringLength: {
                      //     // min: 8,
                      //     min: 6,
                      //     message: '비밀번호는 6자리 이상으로 적어주세요.'
                      // }
                  }
              },
              confirmNewPassword: {
                  feedbackIcons: 'false',
                  validators: {
                      notEmpty: {
                          message: '비밀번호는 꼭 필요합니다.'
                      },
                      identical: {
                          field: 'newPassword',
                          message: '비밀번호를 같게 해 주세요.'
                      }
                      // different: {
                      //     field: 'lastName',
                      //     message: '이름이 비밀번호와 같아요. 다르게 해주세요.'
                      // },
                      // stringLength: {
                      //     // min: 8,
                      //     min: 6,
                      //     message: '비밀번호는 6자리 이상으로 적어주세요.'
                      // }
                  }
              }
          }
      })
      <!----------------------------- updatePassword Ajax ---------------------------->
      .on('success.form.bv', function(e) {
          console.log('success submit');
          // Prevent form submission
          e.preventDefault();

          var currentPassword = $("#currentPassword").val();
          var newPassword = $("#newPassword").val();

          var url = $("#updatePassword").attr("action");


          $.ajax({
            type        : 'PUT',
            async       : true,
            url         : url,
            data        : {
              currentPassword : currentPassword,
              newPassword : newPassword
            },
            success     : function(data) {
              switch (data.message) {

                case "dismatch" :

                  $("#disPassword").alert();
                  $("#disPassword").fadeTo(2000, 500).fadeOut(500, function(){
                    $("#disPassword").hide();
                  });
                  break;

                case "success" :
                  alert("비밀번호가 변경되었습니다.");
                  location.reload(); break;

                case "fail" :

                  alert('실패했습니다.'); break;
              }

            },
            error       : function(data, status, err) {
              console.log("error forward : "+data);
                alert('서버와의 통신이 실패했습니다.');
            }
          });


      });








    </script>



  </body>
</html>












