<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>record_view</title>
	<style>
		@font-face {
			font-family: Heaseo;
			src: url('/fonts/HYHaeSo-Medium.woff')
		}
/*		@font-face {
		  font-family: Garamond;
		  src: url('Garamond Regular.ttf')
		}*/
		html {
		  font-family: Heaseo; /* 1 */
		  -ms-text-size-adjust: 100%; /* 2 */
		  -webkit-text-size-adjust: 100%; /* 2 */
		}
		/*span {
			float: left;
		}*/
		body {
			margin: 0;
			padding-top: 20px;
			padding-bottom: 20px;
		}
		#background {
			width: 595px;
			height: 842px;
			margin: 0 auto;
			/*background-image: url('record_view-assets/background.jpg');*/
			background-image: url('/images/record_view-assets/record_view.jpg');
			background-size: 595px 842px;
		}
		/*=======================================
		title
		=======================================*/
		#title {
			float: left;
			margin-top: 32px;

		}
		#season {
			float: left;
			width: 68px;
			font-size: 10pt;
			text-align: right;
			margin-left: 20px;
			color: #82817e;
			font-family: "Times New Roman", serif;
		}
		#community{
			font-family: Heaseo;
			font-size: 9pt;
		}
		#match-name {
			float: left;
			width: 30px;
			font-size: 10pt;
			color: #82817e;
			text-align: center;
			font-family: "Times New Roman", serif;
			margin-left: 108px;
		}
		/*=======================================
		team
		=======================================*/
		#team {
			width: inherit;
			clear: both;
			float: left;
			/*margin-top: 26px;*/
			margin-top: 24px;
		}
		#home-info{
			float: left;
			/*width: 67px;*/
			width: 80px;
			height: 96px;
			/*margin-left: 155px;*/
			margin-left: 142px;
		}
		#away-info{
			float: right;
			/*width: 67px;*/
			width: 80px;
			height: 96px;
			/*margin-right: 155px;*/
			margin-right: 142px;
		}
		.logo {
			float: left;
			width: 80px;
			height: 30px;
		}
		.logo > img {
			display: block;
			margin:0 auto;
		}
		.name {
			clear: both;
			float: left;
			/*width: 67px;*/
			width: 80px;
			height: 20px;
			/*margin-top: 7px;*/
			margin-top: 11px;
			text-align: center;
			font-size: 20px;
		}
		.score {
			float: left;
			/*width: 67px;*/
			width: 80px;
			height: 27px;
			margin-top: 8px;
			text-align: center;
			font-size: 27px;
			font-family: "Times New Roman", serif;
		}
		/*=======================================
		match Info
		=======================================*/
		#match_info {
			clear: both;
			float: left;
			width: inherit;
			/*margin-top: 16px;*/
			margin-top: 18px;
			font-family: "Times New Roman", serif;
			font-size: 12pt;
		}
		#year {
			float: left;
			margin-left: 38px;
		}
		#month {
			float: left;
			width:16px;
			margin-left: 21px;
			text-align: right;
			display: inline-block;
		}
		#day {
			float: left;
			width:16px;
			margin-left: 20px;
			text-align: right;
			display: inline-block;
		}
		#stadium {
			float: left;
			font-family: Heaseo;
			font-size: 9.5pt;
			text-align: center;
			display: inline-block;
			width: 60px;
			height: 13px;
			margin-top: 1px;
			margin-left: 60px;
		}
		#weather {
			float: left;
			width: 56px;
			/*text-align: right;*/
			text-align: center;
			font-family: Heaseo;
			font-size: 9.5pt;
			margin-top: 1px;
			margin-left: 21px;
		}
		#temperature {
			float: left;
			width:16px;
			text-align: right;
			/*margin-left: 55px;*/
			margin-left: 34px;
		}
		#humidity {
			float: left;
			width:16px;
			text-align: right;
			margin-left: 63px;
		}
		#wind {
			float: left;
			width:16px;
			text-align: right;
			margin-left: 53px;
		}
		/*=======================================
		time
		=======================================*/
		#time {
			float: left;
			width: inherit;
			margin-top: 8px;
			font-family: "Times New Roman", serif;
			font-size: 12pt;
		}
		#first-half-start {
			float: left;
			margin-left: 75px;
			width: 45px;
			text-align: right;
		}
		#first-half-end {
			float: left;
			width: 45px;
			margin-left: 30px;
			text-align: right;
		}
		#first-add {
			float: left;
			width: 19px;
			text-align: right;
			/*margin-left: 70px;*/
			margin-left: 145px;
			text-align: right;
		}
		#second-half-start {
			float: left;
			width: 45px;
			margin-left: 50px;
			text-align: right;
		}
		#second-half-end {
			float: left;
			width: 45px;
			margin-left: 30px;
			text-align: right;
		}
		#second-add {
			float: left;
			width: 19px;
			text-align: right;
			/*margin-left: 76px;*/
			margin-left: 151px;
			text-align: right;
		}
		/*=======================================
		referee
		=======================================*/
		#referee {
			float: left;
			margin-top: 5px;
			font-size: 10pt;
		}
		#head {
			float: left;
			text-align: center;
			width: 64px;
			margin-left: 71px;

		}
		#assistants {
			float: left;
			width: 136px;
			text-align: center;
			margin-left: 40px;
		}
		#fourth {
			float: left;
			width: 64px;
			text-align: center;
			margin-left: 54px;
		}
		#fifth {
			float: left;
			width: 64px;
			text-align: center;
			margin-left: 65px;
		}
		/*=======================================
		coach
		=======================================*/
		#coach {
			float: left;
			width: inherit;
			margin-top: 9px;
			font-size: 10pt;
		}
		#home-coach {
			float: left;
			width: 64px;
			text-align: left;
			margin-left: 88px;
		}
		#away-coach {
			float: right;
			width: 64px;
			text-align: left;
			margin-right: 175px;
		}
		/*=======================================
		record starting
		=======================================*/
		#record {
			float: left;
			width: inherit;
			padding-top: 43px;
			font-family: "Times New Roman", serif;
		}
		#home {
			float: left;
			/*width: 245px;*/
			width: 265px;
			margin-left: 43px;
		}
		#away {
			float: left;
			width: 265px;
			margin-left: 7px;
		}
		.player {
			width: inherit;
			/*display: table;*/
			height: 20px;
			vertical-align: middle;
			margin-bottom: 10.5px;
		}
		.last-player {
			margin-bottom: 13px !important;
		}
		.sub {
			margin-bottom: 12px;
		}
		.squad-number {
			width: 17px;
			text-align: center;
			font-size: 9pt;
			display: inline-block;
		}
		.position {
			width: 18px;
			display: inline-block;
			font-size: 9pt;
			margin-left: 13px;
		}
		.player-name {
			width: 60px;
			display: inline-block;
			text-align: center;
			margin-left: 13px;
			font-family: Heaseo;
			font-size: 9pt;
		}
		.record {
			width: 122px;
			height: inherit;
			vertical-align: middle;
			margin-left: 9px;
			font-size: 9pt;
		}
		.record img {
			vertical-align: bottom;
			width: 16px;
			height: 16px;
		}
		/*=======================================
		record sub
		=======================================*/


			/*border: 1px solid red;*/
	</style>

</head>
<body>
	<div id="background">
		<div id="title">
			<div id="season">2016 <span id="community">여주</span></div>
			<div id="match-name"><%= match.info.matchName %></div>
		</div>
		<div id="team">
			<div id="home-info">
				<div class="logo">
					<img src="/images/record_view-assets/<%= match.info.homeTeamId %>.png" alt="">
				</div>
				<div class="name">
					<% if (match.info.homeClubName.length < 3) { %>
						<%= match.info.homeClubName[0] %> <%= match.info.homeClubName[1] %>
					<% }else { %>
						<%= match.info.homeClubName %>
					<% } %>
				</div>
				<div class="score"><%= match.info.homeScore %></div>
			</div>
			<div id="away-info">
				<div class="logo">
					<img src="/images/record_view-assets/<%= match.info.awayTeamId %>.png" alt="">
				</div>
				<div class="name">
					<% if (match.info.awayClubName.length < 3) { %>
						<%= match.info.awayClubName[0] %> <%= match.info.awayClubName[1] %>
					<% }else { %>
						<%= match.info.awayClubName %>
					<% } %>
				</div>
				<div class="score"><%= match.info.awayScore %></div>
			</div>
		</div>
		<div id="match_info">
			<span id="year"><%= match.info.year %></span>
			<span id="month"><%= match.info.month %></span>
			<span id="day"><%= match.info.day %></span>
			<span id="stadium"><%= match.info.stadium %></span>
			<span id="weather"><%= match.info.sky %></span>
			<span id="temperature"><%= match.info.temperature %></span>
			<span id="humidity"><%= match.info.humidity %></span>
			<span id="wind"><%= match.info.wind %></span>
		</div>
		<div id="time">
			<span id="first-half-start"><%= match.info.firstHalfHour %> : <%= match.info.firstHalfMinute %></span>
			<!-- <span id="first-half-end">19 : 00</span> -->
			<span id="first-add"><%= match.info.firstHalfAdditional %>'</span>
			<span id="second-half-start"><%= match.info.secondHalfHour %> : <%= match.info.secondHalfMinute %></span>
			<!-- <span id="second-half-end">21 : 29</span> -->
			<span id="second-add"><%= match.info.secondHalfAdditional %>'</span>
		</div>
		<div id="referee">
			<div id="head"><%= match.info.refereeHead[0] %> <%= match.info.refereeHead[1] %> <%= match.info.refereeHead[2] ? match.info.refereeHead[2] : "" %></div>
			<div id="assistants"><%= match.info.refereeAssistant1[0] %> <%= match.info.refereeAssistant1[1] %> <%= match.info.refereeAssistant1[2] ? match.info.refereeAssistant1[2] : "" %>, <%= match.info.refereeAssistant2[0] %> <%= match.info.refereeAssistant2[1] %> <%= match.info.refereeAssistant2[2] ? match.info.refereeAssistant2[2] : "" %></div>
			<div id="fourth"><%= match.info.refereeFourth[0] %> <%= match.info.refereeFourth[1] %> <%= match.info.refereeFourth[2] ? match.info.refereeFourth[2] : "" %></div>
			<div id="fifth"><%= match.info.refereeFourth[0] %> <%= match.info.refereeFourth[1] %> <%= match.info.refereeFourth[2] ? match.info.refereeFourth[2] : "" %></div>
		</div>
		<div id="coach">
			<div id="home-coach"><%= match.info.homeCoach[0] %> <%= match.info.homeCoach[1] %> <%= match.info.homeCoach[2] ? match.info.homeCoach[2] : "" %></div>
			<div id="away-coach"><%= match.info.awayCoach[0] %> <%= match.info.awayCoach[1] %> <%= match.info.awayCoach[2] ? match.info.awayCoach[2] : "" %></div>
		</div>
		<div id="record">
			<div id="home">
                <% match.homePlayers.starting.forEach(function (item, index) { %>
					<div class="player">
						<span class="squad-number"><%= item.squadNumber %></span>
						<% switch(item.matchPosition) {
							case "GK" : %>
								<span class="position">GK</span>
							<% break;
							case "DF" : %>
							    <span class="position">DF</span>
							<% break;
							case "MF" : %>
							    <span class="position">MF</span>
							<% break;
							case "FW" : %>
							    <span class="position">FW</span>
							<% break;
						} %>
						<span class="player-name"><%= item.playerName[0] %> <%= item.playerName[1] %> <%= item.playerName[2] ? item.playerName[2] : "" %></span>

						<%
							var goalScored = false,
								ownGoal = false,
								penaltyScored = false,
								penaltyMissed = false,
								redCard = false,
								yellowCard = false,
								secondYellowCard = false,
								subIn = false,
								subOut = false;
						%>
						<span class="record">
						<% item.records.forEach(function (record, i) { %>
							<% console.log('record   : ', record); %>
							<% switch(record['recordName']) {
								case "goalScored" : %>
									<% if (!goalScored) { %>
										<% goalScored = true; %>
										<img src="/images/record_view-assets/goal.png" alt="">
									<% } %>
									<%= record.minutes %>'
								<% break;
								case "ownGoal" : %>
									<% if (!ownGoal) { %>
										<% ownGoal = true; %>
										<img src="/images/record_view-assets/own-goal.png" alt="">
									<% } %>
									<%= record.minutes %>'&nbsp;
								<% break;
								case "penaltyScored" : %>
									<% if (!penaltyScored) { %>
										<% penaltyScored = true; %>
										<img src="/images/record_view-assets/penalty-goal.png" alt="">
									<% } %>
									<%= record.minutes %>'&nbsp;
								<% break;
								case "penaltyMissed" : %>
									<% if (!penaltyMissed) { %>
										<% penaltyMissed = true; %>
										<img src="/images/record_view-assets/penalty-missed.png" alt="">
									<% } %>
									<%= record.minutes %>'&nbsp;
								<% break;
								case "redCard" : %>
									<% if (!redCard) { %>
										<% redCard = true; %>
										<img src="/images/record_view-assets/red.png" alt="">
									<% } %>
									<%= record.minutes %>'&nbsp;
								<% break;
								case "yellowCard" : %>
									<% if (!yellowCard) { %>
										<% yellowCard = true; %>
										<img src="/images/record_view-assets/yellow.png" alt="">
									<% } %>
									<%= record.minutes %>'&nbsp;
								<% break;
								case "secondYellowCard" : %>
									<% if (!secondYellowCard) { %>
										<% secondYellowCard = true; %>
										<img src="/images/record_view-assets/yellow-red.png" alt="">
									<% } %>
									<%= record.minutes %>'&nbsp;
								<% break;
								case "in" : %>
									<% if (!subIn) { %>
										<% subIn = true; %>
										<img src="/images/record_view-assets/change.png" alt="">
									<% } %>
									<% if (record.time == 'halfTime') { %>
										HT&nbsp;
									<% }else { %>
										<%= record.minutes %>'&nbsp;
									<% } %>
								<% break;
								case "out" : %>
									<% if (!subOut) { %>
										<% subOut = true; %>
										<img src="/images/record_view-assets/change.png" alt="">
									<% } %>
									<% if (record.time == 'halfTime') { %>
										HT&nbsp;
									<% }else { %>
										<%= record.minutes %>'&nbsp;
									<% } %>
								<% break;
							} %>
						<% }); %>
						</span>

                  </div>
                <% }); %>
                <% match.homePlayers.sub.forEach(function (item, index) { %>
					<div class="player">
						<span class="squad-number"><%= item.squadNumber %></span>
						<% switch(item.matchPosition) {
							case "GK" : %>
								<span class="position">GK</span>
							<% break;
							case "DF" : %>
							    <span class="position">DF</span>
							<% break;
							case "MF" : %>
							    <span class="position">MF</span>
							<% break;
							case "FW" : %>
							    <span class="position">FW</span>
							<% break;
						} %>
						<span class="player-name"><%= item.playerName[0] %> <%= item.playerName[1] %> <%= item.playerName[2] ? item.playerName[2] : "" %></span>

						<%
							var goalScored = false,
								ownGoal = false,
								penaltyScored = false,
								penaltyMissed = false,
								redCard = false,
								yellowCard = false,
								secondYellowCard = false,
								subIn = false,
								subOut = false;
						%>
						<span class="record">
						<% item.records.forEach(function (record, i) { %>
							<% console.log('record   : ', record); %>
							<% switch(record['recordName']) {
								case "goalScored" : %>
									<% if (!goalScored) { %>
										<% goalScored = true; %>
										<img src="/images/record_view-assets/goal.png" alt="">
									<% } %>
									<%= record.minutes %>'
								<% break;
								case "ownGoal" : %>
									<% if (!ownGoal) { %>
										<% ownGoal = true; %>
										<img src="/images/record_view-assets/own-goal.png" alt="">
									<% } %>
									<%= record.minutes %>'&nbsp;
								<% break;
								case "penaltyScored" : %>
									<% if (!penaltyScored) { %>
										<% penaltyScored = true; %>
										<img src="/images/record_view-assets/penalty-goal.png" alt="">
									<% } %>
									<%= record.minutes %>'&nbsp;
								<% break;
								case "penaltyMissed" : %>
									<% if (!penaltyMissed) { %>
										<% penaltyMissed = true; %>
										<img src="/images/record_view-assets/penalty-missed.png" alt="">
									<% } %>
									<%= record.minutes %>'&nbsp;
								<% break;
								case "redCard" : %>
									<% if (!redCard) { %>
										<% redCard = true; %>
										<img src="/images/record_view-assets/red.png" alt="">
									<% } %>
									<%= record.minutes %>'&nbsp;
								<% break;
								case "yellowCard" : %>
									<% if (!yellowCard) { %>
										<% yellowCard = true; %>
										<img src="/images/record_view-assets/yellow.png" alt="">
									<% } %>
									<%= record.minutes %>'&nbsp;
								<% break;
								case "secondYellowCard" : %>
									<% if (!secondYellowCard) { %>
										<% secondYellowCard = true; %>
										<img src="/images/record_view-assets/yellow-red.png" alt="">
									<% } %>
									<%= record.minutes %>'&nbsp;
								<% break;
								case "in" : %>
									<% if (!subIn) { %>
										<% subIn = true; %>
										<img src="/images/record_view-assets/change.png" alt="">
									<% } %>
									<% if (record.time == 'halfTime') { %>
										HT&nbsp;
									<% }else { %>
										<%= record.minutes %>'&nbsp;
									<% } %>
								<% break;
								case "out" : %>
									<% if (!subOut) { %>
										<% subOut = true; %>
										<img src="/images/record_view-assets/change.png" alt="">
									<% } %>
									<% if (record.time == 'halfTime') { %>
										HT&nbsp;
									<% }else { %>
										<%= record.minutes %>'&nbsp;
									<% } %>
								<% break;
							} %>
						<% }); %>
						</span>

                  </div>
                <% }); %>
			</div>
			<div id="away">
                <% match.awayPlayers.starting.forEach(function (item, index) { %>
					<div class="player">
						<span class="squad-number"><%= item.squadNumber %></span>
						<% switch(item.matchPosition) {
							case "GK" : %>
								<span class="position">GK</span>
							<% break;
							case "DF" : %>
							    <span class="position">DF</span>
							<% break;
							case "MF" : %>
							    <span class="position">MF</span>
							<% break;
							case "FW" : %>
							    <span class="position">FW</span>
							<% break;
						} %>
						<span class="player-name"><%= item.playerName[0] %> <%= item.playerName[1] %> <%= item.playerName[2] ? item.playerName[2] : "" %></span>

						<%
							var goalScored = false,
								ownGoal = false,
								penaltyScored = false,
								penaltyMissed = false,
								redCard = false,
								yellowCard = false,
								secondYellowCard = false,
								subIn = false,
								subOut = false;
						%>
						<span class="record">
						<% item.records.forEach(function (record, i) { %>
							<% console.log('record   : ', record); %>
							<% switch(record['recordName']) {
								case "goalScored" : %>
									<% if (!goalScored) { %>
										<% goalScored = true; %>
										<img src="/images/record_view-assets/goal.png" alt="">
									<% } %>
									<%= record.minutes %>'
								<% break;
								case "ownGoal" : %>
									<% if (!ownGoal) { %>
										<% ownGoal = true; %>
										<img src="/images/record_view-assets/own-goal.png" alt="">
									<% } %>
									<%= record.minutes %>'&nbsp;
								<% break;
								case "penaltyScored" : %>
									<% if (!penaltyScored) { %>
										<% penaltyScored = true; %>
										<img src="/images/record_view-assets/penalty-goal.png" alt="">
									<% } %>
									<%= record.minutes %>'&nbsp;
								<% break;
								case "penaltyMissed" : %>
									<% if (!penaltyMissed) { %>
										<% penaltyMissed = true; %>
										<img src="/images/record_view-assets/penalty-missed.png" alt="">
									<% } %>
									<%= record.minutes %>'&nbsp;
								<% break;
								case "redCard" : %>
									<% if (!redCard) { %>
										<% redCard = true; %>
										<img src="/images/record_view-assets/red.png" alt="">
									<% } %>
									<%= record.minutes %>'&nbsp;
								<% break;
								case "yellowCard" : %>
									<% if (!yellowCard) { %>
										<% yellowCard = true; %>
										<img src="/images/record_view-assets/yellow.png" alt="">
									<% } %>
									<%= record.minutes %>'&nbsp;
								<% break;
								case "secondYellowCard" : %>
									<% if (!secondYellowCard) { %>
										<% secondYellowCard = true; %>
										<img src="/images/record_view-assets/yellow-red.png" alt="">
									<% } %>
									<%= record.minutes %>'&nbsp;
								<% break;
								case "in" : %>
									<% if (!subIn) { %>
										<% subIn = true; %>
										<img src="/images/record_view-assets/change.png" alt="">
									<% } %>
									<% if (record.time == 'halfTime') { %>
										HT&nbsp;
									<% }else { %>
										<%= record.minutes %>'&nbsp;
									<% } %>
								<% break;
								case "out" : %>
									<% if (!subOut) { %>
										<% subOut = true; %>
										<img src="/images/record_view-assets/change.png" alt="">
									<% } %>
									<% if (record.time == 'halfTime') { %>
										HT&nbsp;
									<% }else { %>
										<%= record.minutes %>'&nbsp;
									<% } %>
								<% break;
							} %>
						<% }); %>
						</span>

                  </div>
                <% }); %>
                <% match.awayPlayers.sub.forEach(function (item, index) { %>
					<div class="player">
						<span class="squad-number"><%= item.squadNumber %></span>
						<% switch(item.matchPosition) {
							case "GK" : %>
								<span class="position">GK</span>
							<% break;
							case "DF" : %>
							    <span class="position">DF</span>
							<% break;
							case "MF" : %>
							    <span class="position">MF</span>
							<% break;
							case "FW" : %>
							    <span class="position">FW</span>
							<% break;
						} %>
						<span class="player-name"><%= item.playerName[0] %> <%= item.playerName[1] %> <%= item.playerName[2] ? item.playerName[2] : "" %></span>

						<%
							var goalScored = false,
								ownGoal = false,
								penaltyScored = false,
								penaltyMissed = false,
								redCard = false,
								yellowCard = false,
								secondYellowCard = false,
								subIn = false,
								subOut = false;
						%>
						<span class="record">
						<% item.records.forEach(function (record, i) { %>
							<% console.log('record   : ', record); %>
							<% switch(record['recordName']) {
								case "goalScored" : %>
									<% if (!goalScored) { %>
										<% goalScored = true; %>
										<img src="/images/record_view-assets/goal.png" alt="">
									<% } %>
									<%= record.minutes %>'
								<% break;
								case "ownGoal" : %>
									<% if (!ownGoal) { %>
										<% ownGoal = true; %>
										<img src="/images/record_view-assets/own-goal.png" alt="">
									<% } %>
									<%= record.minutes %>'&nbsp;
								<% break;
								case "penaltyScored" : %>
									<% if (!penaltyScored) { %>
										<% penaltyScored = true; %>
										<img src="/images/record_view-assets/penalty-goal.png" alt="">
									<% } %>
									<%= record.minutes %>'&nbsp;
								<% break;
								case "penaltyMissed" : %>
									<% if (!penaltyMissed) { %>
										<% penaltyMissed = true; %>
										<img src="/images/record_view-assets/penalty-missed.png" alt="">
									<% } %>
									<%= record.minutes %>'&nbsp;
								<% break;
								case "redCard" : %>
									<% if (!redCard) { %>
										<% redCard = true; %>
										<img src="/images/record_view-assets/red.png" alt="">
									<% } %>
									<%= record.minutes %>'&nbsp;
								<% break;
								case "yellowCard" : %>
									<% if (!yellowCard) { %>
										<% yellowCard = true; %>
										<img src="/images/record_view-assets/yellow.png" alt="">
									<% } %>
									<%= record.minutes %>'&nbsp;
								<% break;
								case "secondYellowCard" : %>
									<% if (!secondYellowCard) { %>
										<% secondYellowCard = true; %>
										<img src="/images/record_view-assets/yellow-red.png" alt="">
									<% } %>
									<%= record.minutes %>'&nbsp;
								<% break;
								case "in" : %>
									<% if (!subIn) { %>
										<% subIn = true; %>
										<img src="/images/record_view-assets/change.png" alt="">
									<% } %>
									<% if (record.time == 'halfTime') { %>
										HT&nbsp;
									<% }else { %>
										<%= record.minutes %>'&nbsp;
									<% } %>
								<% break;
								case "out" : %>
									<% if (!subOut) { %>
										<% subOut = true; %>
										<img src="/images/record_view-assets/change.png" alt="">
									<% } %>
									<% if (record.time == 'halfTime') { %>
										HT&nbsp;
									<% }else { %>
										<%= record.minutes %>'&nbsp;
									<% } %>
								<% break;
							} %>
						<% }); %>
						</span>

                  </div>
                <% }); %>
			</div>
			<!-- <div id="away">
				<div class="player">
					<span class="squad-number">11</span>
					<span class="position">GK</span>
					<span class="player-name">원 덕 희</span>
					<span class="record">
						<img src="/images/record_view-assets/goal.png" alt=""> 19'20'19'
						&nbsp;
						<img src="/images/record_view-assets/change.png" alt=""> 23'
					</span>
				</div>
				<div class="player">
					<span class="squad-number">12</span>
					<span class="position">DF</span>
					<span class="player-name">강 창 대 야</span>
					<span class="record">
						<img src="/images/record_view-assets/goal.png" alt=""> 23'
					</span>
				</div>
				<div class="player">
					<span class="squad-number">2</span>
					<span class="position">DF</span>
					<span class="player-name">경 신 현</span>
					<span class="record"></span>
				</div>
				<div class="player">
					<span class="squad-number">12</span>
					<span class="position">DF</span>
					<span class="player-name">창 대</span>
					<span class="record"></span>
				</div>
				<div class="player">
					<span class="squad-number">12</span>
					<span class="position">DF</span>
					<span class="player-name">강 창 대</span>
					<span class="record"></span>
				</div>
				<div class="player">
					<span class="squad-number">12</span>
					<span class="position">DF</span>
					<span class="player-name">강 창 대</span>
					<span class="record"></span>
				</div>
				<div class="player">
					<span class="squad-number">12</span>
					<span class="position">DF</span>
					<span class="player-name">강 창 대</span>
					<span class="record"></span>
				</div>
				<div class="player">
					<span class="squad-number">12</span>
					<span class="position">DF</span>
					<span class="player-name">강 창 대</span>
					<span class="record"></span>
				</div>
				<div class="player">
					<span class="squad-number">12</span>
					<span class="position">DF</span>
					<span class="player-name">강 창 대</span>
					<span class="record"></span>
				</div>
				<div class="player">
					<span class="squad-number">12</span>
					<span class="position">DF</span>
					<span class="player-name">강 창 대</span>
					<span class="record"></span>
				</div>
				<div class="player">
					<span class="squad-number">12</span>
					<span class="position">DF</span>
					<span class="player-name">강 창 대 야</span>
					<span class="record"></span>
				</div>
				<div class="sub">
					<span class="squad-number">12</span>
					<span class="position">DF</span>
					<span class="player-name">강 창 대</span>
					<span class="record"></span>
				</div>
				<div class="sub">
					<span class="squad-number">12</span>
					<span class="position">DF</span>
					<span class="player-name">강 창 대</span>
					<span class="record"></span>
				</div>
				<div class="sub">
					<span class="squad-number">12</span>
					<span class="position">DF</span>
					<span class="player-name">강 창 대</span>
					<span class="record"></span>
				</div>
				<div class="sub">
					<span class="squad-number">12</span>
					<span class="position">DF</span>
					<span class="player-name">강 창 대</span>
					<span class="record"></span>
				</div>
				<div class="sub">
					<span class="squad-number">12</span>
					<span class="position">DF</span>
					<span class="player-name">강 창 대</span>
					<span class="record"></span>
				</div>
			</div> -->
		</div>
	</div>
	<script src="/js/libs/jquery-1.11.1.min.js"></script>
	<script>
		$('#home .player').last().addClass('last-player');
		$('#away .player').last().addClass('last-player');
	</script>
</body>
</html>