<!DOCTYPE html>
<html>
  <head>
    <% include ../layout/head %>
    <style>
      .glyphicon {
        color: gray;
      }
      .sub > .list-group-item {
        background-color: #EAEAEA;
      }
      .glyphicon-chevron-down {
        color: red;
      }
      .glyphicon-chevron-up {
        color: green;
      }
      .recordImg {
        margin-bottom: 5px;
      }
      #giveUpBox{
        padding-left: 12px;
        padding-right: 12px;
      }

    </style>
  </head>
  <body>
    <% include ../layout/navbar %>

    <div class="container">

    <!--   <div class="row">

        <ul class="countdown list-unstyled list-inline text-center">
          <li>
            <span class="days">00</span>
            <p class="days_ref">days</p>
          </li>
          <li class="seperator">.</li>
          <li>
            <span class="hours">00</span>
            <p class="hours_ref">hours</p>
          </li>
          <li class="seperator">:</li>
          <li>
            <span class="minutes">00</span>
            <p class="minutes_ref">minutes</p>
          </li>
          <li class="seperator">:</li>
          <li>
            <span class="seconds">00</span>
            <p class="seconds_ref">seconds</p>
          </li>
        </ul>

      </div> -->


      <div class="bs-callout">
        <h4><%= match.info.matchName %> <%= match.info.month %>월 <%= match.info.day %>일 / <%= match.info.hour %>:00</h4>
        <h4><small>오학구장</small></h4>
          <div class="row">
            <div class="col-xs-4">
              <img class="home center-block" src="/images/club/<%= match.info.homeClubId%>/image.jpg" alt="64x64">
              <h4><%= match.info.homeClubName %></h4>
            </div>
            <div class="col-xs-4">

              <h2 class="score"><%= match.info.homeScore %><strong class="vs"> : </strong><%= match.info.awayScore %></h2>

              <div id="scorersRow" class="row">
                <div class="col-md-6 col-xs-6">
                  <ul id="homeScorers" class="list-unstyled pull-right">
                  <% match.scorers.home.forEach(function (item) { %>
                    <li data-scorerlineupid="<%= item.lineupId %>">
                      <strong><%= item.playerName %> <%= item.minutes %>' <% if(item.recordName == "ownGoal") { %>(og) <% }else if(item.recordName == "penaltyScored") { %>(p) <% } %></strong>
                    </li>
                  <% }); %>
                  </ul>
                </div>
                <div class="col-md-6 col-xs-6">
                  <ul id="awayScorers" class="list-unstyled pull-left">
                  <% match.scorers.away.forEach(function (item) { %>
                    <li data-scorerlineupid="<%= item.lineupId %>">
                      <strong><%= item.playerName %> <%= item.minutes %>' <% if(item.recordName == "ownGoal") { %>(og) <% }else if(item.recordName == "penaltyScored") { %>(p) <% } %></strong>
                    </li>
                  <% });  %>
                  </ul>
                </div>
              </div>



            </div>
            <div class="col-xs-4">
              <img class="home center-block" src="/images/club/<%= match.info.awayClubId%>/image.jpg" alt="64x64">
              <h4><%= match.info.awayClubName %></h4>
            </div>
          </div>
      </div>




      <div class="row">



        <div class="col-md-4 col-xs-4">
          <div class="panel panel-success">
            <div class="panel-heading">HOME - <%= match.info.homeClubName %></div>
            <div class="panel-body">
              <h5>선발</h5>
              <ul class="list-group">
                <% match.homePlayers.starting.forEach(function(item, index){ %>
                  <li class="list-group-item">
                    <% switch(item.matchPosition) {
                      case "GK" : %>
                        <span data-toggle="modal"
                        data-target=".recordModal"
                        class="recordBtn label label-warning gk">GK</span>
                      <% break;
                      case "DF" : %>
                        <span data-toggle="modal"
                        data-target=".recordModal"
                        class="recordBtn label label-success df">DF</span>
                      <% break;
                      case "MF" : %>
                        <span data-toggle="modal"
                        data-target=".recordModal"
                        class="recordBtn label label-primary mf">MF</span>
                      <% break;
                      case "FW" : %>
                        <span data-toggle="modal"
                        data-target=".recordModal"
                        class="recordBtn label label-danger fw'">FW</span>
                      <% break;
                    } %>
                      <span class="glyphicon glyphicon-retweet pull-right" data-toggle="modal" data-target=".substitutionModal"></span>
                      <span class="pull-right blank">&nbsp;&nbsp;</span>
                      <span class="pull-right">
                        <strong> <%= item.squadNumber %></strong> <%= item.playerName  %></span>
                      <input type="hidden"
                          data-squadNumber="<%= item.squadNumber %>"
                          data-playerName="<%= item.playerName %>"
                          data-lineupId="<%= item.lineupId %>">
                  </li>
                <% }); %>
              </ul>
            </div>
            <div class="panel-footer">
              <h5>대기</h5>
              <ul class="list-group sub">
                <% match.homePlayers.sub.forEach(function(item, index){ %>
                  <li class="list-group-item">
                    <% switch (item.matchPosition) {
                      case "GK" : %>
                        <span
                        class="label label-warning gk">GK</span>
                      <% break;
                      case "DF" : %>
                        <span
                        class="label label-success df">DF</span>
                      <% break;
                      case "MF" : %>
                        <span
                        class="label label-primary mf">MF</span>
                      <% break;
                      case "FW" : %>
                        <span
                        class="label label-danger fw'">FW</span>
                      <% break;
                    } %>

                      <span class="pull-right">
                        <strong> <%= item.squadNumber %></strong> <%= item.playerName  %></span>
                      <input type="hidden"
                          data-squadNumber="<%= item.squadNumber %>"
                          data-playerName="<%= item.playerName %>"
                          data-lineupId="<%= item.lineupId %>">
                  </li>
                <% }); %>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-xs-4">
          <h4 class="text-center">기록</h4>
          <ul id="recordTimeLine" class="list-group">
            <%  match.playersRecorded.forEach ( function (item, index){ %>
            <!-- 교체일때 -->
              <% if (item.length == 2) { %>

                <% if (match.info.homeClubId == item[0].clubId) { %>

      <li class="list-group-item recordItem"
                <% }else { %>

      <li class="list-group-item text-right recordItem"
                <% } %>

        data-subrecordid="<%= item[0].recordId %>" data-selectedrecordid="<%= item[1].recordId %>" data-sublineupid="<%= item[0].lineupId %>" data-selectedlineupid="<%= item[1].lineupId %>">
        <div>
          <strong> <%= item[0].squadNumber %> </strong>
          <%= item[0].playerName %>
          <span class="glyphicon glyphicon-chevron-up"></span>
          <%= item[0].minutes %>'
        </div>
        <div>
          <strong> <%= item[1].squadNumber %> </strong>
          <%= item[1].playerName %>
          <span class="glyphicon glyphicon-chevron-down"></span>
          <%= item[1].minutes %>'
        </div>
      </li>
            <!-- 교체가 아닐때 -->
              <% }else { %>

                <% if(match.info.homeClubId == item.clubId) { %>
                  <li class="list-group-item recordItem" data-selectedLineupId="<%= item.lineupId %>" data-recordid="<%= item.recordId %>" homeAway="home">

                <% }else { %>

                  <li class="list-group-item text-right recordItem" data-selectedLineupId="<%= item.lineupId %>" data-recordid="<%= item.recordId %>" homeAway="away">

                <% } %>

                <% switch (item.recordName) {
                    case "goalScored" :  %>
                      <div>
                        <strong> <%= item.squadNumber %> </strong>
                        <%= item.playerName %>
                        <img class="recordImg" width="15" height="15" src="/img/recordIcons/goals.gif" alt="goalScored">
                        <%= item.minutes %>'
                      </div>
                    </li>
                  <% break;

                    case "ownGoal" :  %>
                      <div>
                        <strong> <%= item.squadNumber %> </strong>
                        <%= item.playerName %>
                        <img alt="ownGoal" src="/img/recordIcons/goals_O.gif" class="recordImg" width="15" height="15">
                        <%= item.minutes %>'
                      </div>
                    </li>
                  <% break;

                    case "penaltyScored" :  %>
                      <div>
                        <strong> <%= item.squadNumber %> </strong>
                        <%= item.playerName %>
                        <img alt="penaltyScored" src="/img/recordIcons/goals_P.gif" class="recordImg" width="15" height="15">
                        <%= item.minutes %>'
                      </div>
                    </li>
                  <% break;

                    case "penaltyMissed" :  %>
                      <div>
                        <strong> <%= item.squadNumber %> </strong>
                        <%= item.playerName %>
                        <img alt="penaltyMissed" src="/img/recordIcons/goals_W.gif" class="recordImg" width="15" height="15">
                        <%= item.minutes %>'
                      </div>
                    </li>
                  <% break;

                    case "redCard" :  %>
                      <div>
                        <strong> <%= item.squadNumber %> </strong>
                        <%= item.playerName %>
                        <img alt="redCard" src="/img/recordIcons/reds.gif" class="recordImg" width="15" height="15">
                        <%= item.minutes %>'
                      </div>
                    </li>
                  <% break;

                    case "yellowCard" :  %>
                      <div>
                        <strong> <%= item.squadNumber %> </strong>
                        <%= item.playerName %>
                        <img alt="yellowCard" src="/img/recordIcons/yells.gif" class="recordImg" width="15" height="15">
                        <%= item.minutes %>'
                      </div>
                    </li>
                  <% break;

                    case "secondYellowCard" :  %>
                      <div>
                        <strong> <%= item.squadNumber %> </strong>
                        <%= item.playerName %>
                        <img alt="secondYellowCard" src="/img/recordIcons/yell_reds.gif" class="recordImg" width="15" height="15">
                        <%= item.minutes %>'
                      </div>
                    </li>
                  <% break;

                  }  %>

              <% } %>

            <% });  %>
          </ul>
        </div>
        <!-- away -->

        <div class="col-md-4 col-xs-4">
          <div class="panel panel-success">
            <div class="panel-heading">AWAY - <%= match.info.awayClubName %></div>
            <div class="panel-body">
              <h5>선발</h5>
              <ul class="list-group">
                <% match.awayPlayers.starting.forEach(function(item, index){ %>
                  <li class="list-group-item">
                    <% switch(item.matchPosition) {
                      case "GK" : %>
                        <span data-toggle="modal"
                        data-target=".recordModal"
                        class="recordBtn label label-warning gk">GK</span>
                      <% break;
                      case "DF" : %>
                        <span data-toggle="modal"
                        data-target=".recordModal"
                        class="recordBtn label label-success df">DF</span>
                      <% break;
                      case "MF" : %>
                        <span data-toggle="modal"
                        data-target=".recordModal"
                        class="recordBtn label label-primary mf">MF</span>
                      <% break;
                      case "FW" : %>
                        <span data-toggle="modal"
                        data-target=".recordModal"
                        class="recordBtn label label-danger fw'">FW</span>
                      <% break;
                    } %>
                      <span class="glyphicon glyphicon-retweet pull-right" data-toggle="modal" data-target=".substitutionModal"></span>
                      <span class="pull-right blank">&nbsp;&nbsp;</span>
                      <span class="pull-right">
                        <strong> <%= item.squadNumber %></strong> <%= item.playerName  %></span>
                      <input type="hidden"
                          data-squadNumber="<%= item.squadNumber %>"
                          data-playerName="<%= item.playerName %>"
                          data-lineupId="<%= item.lineupId %>">
                  </li>
                <% }); %>
              </ul>
            </div>
            <div class="panel-footer">
              <h5>대기</h5>
              <ul class="list-group sub">
                <% match.awayPlayers.sub.forEach(function(item, index){ %>
                  <li class="list-group-item">
                    <% switch (item.matchPosition) {
                      case "GK" : %>
                        <span
                        class="label label-warning gk">GK</span>
                      <% break;
                      case "DF" : %>
                        <span
                        class="label label-success df">DF</span>
                      <% break;
                      case "MF" : %>
                        <span
                        class="label label-primary mf">MF</span>
                      <% break;
                      case "FW" : %>
                        <span
                        class="label label-danger fw'">FW</span>
                      <% break;
                    } %>

                      <span class="pull-right">
                        <strong> <%= item.squadNumber %></strong> <%= item.playerName  %></span>
                      <input type="hidden"
                          data-squadNumber="<%= item.squadNumber %>"
                          data-playerName="<%= item.playerName %>"
                          data-lineupId="<%= item.lineupId %>">
                  </li>
                <% }); %>
              </ul>
            </div>
          </div>
        </div>


      </div>




<div class="modal fade recordModal" tabindex="-1" role="dialog" aria-labelledby="h4#playerForRecordModal" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="playerForRecordModal"><strong>number</strong> name</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <div class="input-group">
            <input id="recordMinutes" class="form-control" type="number">
            <div class="input-group-addon">분</div>
          </div>
        </div>
        <hr>
        <div class="container">
          <label class="radio-inline">
            <input type="radio" name="recordTime" id="recordFirstHalf" value="firstHalf" checked> 전반
          </label>
          <label class="radio-inline">
            <input type="radio" name="recordTime" id="recordSecondHalf" value="secondHalf"> 후반
          </label>
        </div>
        <div class="container">
          <div class="radio">
            <label>
              <input type="radio" name="recordName" id="goalScored" value="goalScored" checked>
              득점
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="recordName" id="ownGoal" value="ownGoal">
              자책골
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="recordName" id="penaltyScored" value="penaltyScored">
              패널티골
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="recordName" id="penaltyMissed" value="penaltyMissed">
              패널티실축
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="recordName" id="redCard" value="redCard">
              레드카드
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="recordName" id="yellowCard" value="yellowCard">
              옐로카드
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="recordName" id="secondYellowCard" value="secondYellowCard">
              Y2카드
            </label>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">취소</button>
        <button id="sendRecord" type="button" class="btn btn-primary">기록</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade substitutionModal" tabindex="-1" role="dialog" aria-labelledby="h4#substitutionModal" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="substitutionModal"><strong>number</strong> name</h4>
      </div>
      <div class="modal-body">
          <div class="form-group">
            <div class="input-group">
              <input id="subMinutes" class="form-control" type="number" required="required">
              <div class="input-group-addon">분</div>
            </div>
          </div>

        <hr>
        <div class="container">
          <label class="radio-inline">
            <input type="radio" name="subRecordTime" id="subFirstHalf" value="firstHalf" checked> 전반
          </label>
          <label class="radio-inline">
            <input type="radio" name="subRecordTime" id="subHalfTime" value="halfTime"> 하프타임
          </label>
          <label class="radio-inline">
            <input type="radio" name="subRecordTime" id="subSecondHalf" value="secondHalf"> 후반
          </label>
        </div>
        <h4>누구와 교체??</h4>
        <div class="subRadios" class="container">
          <div class="radio">
            <label>
              <input type="radio" name="subPlayer" value="">
              number name
            </label>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">취소</button>
        <button id="sendSub" type="button" class="btn btn-primary">교체</button>
      </div>
    </div>
  </div>
</div>







      <% include ../layout/footer %>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

	<script src="/js/libs/jquery-1.11.1.min.js"></script>
	<script src="/js/libs/jquery-ui-1.10.4.min.js"></script>
	<script src="/js/libs/bootstrap.min.js"></script>
	<script src="/js/libs/jquery.ui.touch-punch.js"></script>

    <script>


      // 기록 모달 업
      $(document).on('click', '.recordBtn', function (e) {

        var player = $(this).siblings("input");
        var homeAway = $(this).parentsUntil(".panel").eq(2).siblings("div.panel-heading").text();

        //선택된선수가 누구인지 모달에게 전달
        $("#playerForRecordModal").html(
              "<strong>" +
              player.attr("data-squadNumber") +
              "</strong>" +
              " " +
              player.attr("data-playerName")
          ).attr('data-lineupId', player.attr('data-lineupId')).attr('data-playerName', player.attr('data-playerName')).attr('data-squadNumber', player.attr('data-squadNumber')).attr('data-homeAway', homeAway);
      });

      // send 기록
      $(document).on('click', '#sendRecord', function (e) {

        var homeAway = $("#playerForRecordModal").attr('data-homeAway');

        var selectedLineupId = $("#playerForRecordModal").attr('data-lineupId');
        var selectedSquadNumber = $("#playerForRecordModal").attr('data-squadNumber');
        var selectedPlayerName = $("#playerForRecordModal").attr('data-playerName');
        var selectedLineupIdElement = $('[data-lineupid="' + selectedLineupId + '"]').parent("li");

        var selectedRecordName = $('input[name=recordName]:checked').val();
        var selectedRecordTime = $('input[name=recordTime]:checked').val();

        var recordMinutes = $("#recordMinutes").val();

        var goalScored = false;
        var ownGoal = false;
        var penaltyScored = false;

        //디비전광판에 점수 올리기
        var score = $(".score").text().split(" : ");
        var homeScore = parseInt(score[0]);
        var awayScore = parseInt(score[1]);
        var plusHomeScore = homeScore + 1;
        var plusAwayScore = awayScore + 1;
        var sendScore = [];
        if (selectedRecordName == "goalScored" || selectedRecordName == "penaltyScored") {
          switch (homeAway) {
            case "HOME - <%= match.info.homeClubName %>" :
              sendScore = [plusHomeScore, awayScore];
              break;

            case "AWAY - <%= match.info.awayClubName %>" :
              sendScore = [homeScore, plusAwayScore];
              break;
          }

        }else if (selectedRecordName == "ownGoal") {
          switch (homeAway) {
            case "HOME - <%= match.info.homeClubName %>" :
              sendScore = [homeScore, plusAwayScore];
              break;

            case "AWAY - <%= match.info.awayClubName %>" :
              sendScore = [plusHomeScore, awayScore];
              break;
          }
        }

        //기록
        $.ajax({
          type        : 'POST',
          async       : true,
          url         : "/records/"+location.pathname.split("/")[4],
          data        : {
              selectedLineupId: selectedLineupId,
              selectedRecordName : selectedRecordName,
              selectedRecordTime : selectedRecordTime,
              recordMinutes : recordMinutes,
              score : sendScore
          },
          beforeSend  : function() {
              // $('#ajax_load_indicator').show().fadeIn('fast');
          },
          success     : function(data) {
              // console.log('data ::::: ', data.recordId);
              var recordImg = '';
              var recordId = data.recordId

              switch (selectedRecordName) {
                case "goalScored" :
                  recordImg = ' <img alt="goalScored" src="/img/recordIcons/goals.gif" class="recordImg" width="15" height="15"> ';
                  goalScored = true;
                  break;
                case "ownGoal" :
                  recordImg = ' <img alt="ownGoal" src="/img/recordIcons/goals_O.gif" class="recordImg" width="15" height="15"> ';
                  ownGoal = true;
                  break;
                case "penaltyScored" :
                  recordImg = ' <img alt="penaltyScored" src="/img/recordIcons/goals_P.gif" class="recordImg" width="15" height="15"> ';
                  penaltyScored = true;
                  break;
                case "penaltyMissed" : recordImg = ' <img alt="penaltyMissed" src="/img/recordIcons/goals_W.gif" class="recordImg" width="15" height="15"> '; break;
                case "redCard" : recordImg = ' <img alt="redCard" src="/img/recordIcons/reds.gif" class="recordImg" width="15" height="15"> '; break;
                case "yellowCard" : recordImg = ' <img alt="yellowCard" src="/img/recordIcons/yells.gif" class="recordImg" width="15" height="15"> '; break;
                case "secondYellowCard" : recordImg = ' <img alt="secondYellowCard" src="/img/recordIcons/yell_reds.gif" class="recordImg" width="15" height="15"> '; break;
              }

              switch (homeAway) {
                  case "HOME - <%= match.info.homeClubName %>" :
                    $("#recordTimeLine").prepend('<li class="list-group-item recordItem" data-selectedLineupId="' + selectedLineupId + '" data-recordId="' + recordId + '" homeAway="home"><div><strong> ' + selectedSquadNumber + ' </strong>' + selectedPlayerName + recordImg + recordMinutes + '\'</div></li>');
                    //전광판 점수 올리기
                    if (goalScored == true || penaltyScored == true) {
                      $(".score").text(plusHomeScore + " : " + awayScore);
                      if (penaltyScored) {
                        $("#homeScorers").append(
    "<li data-scorerLineupId=" + selectedLineupId + " ><strong>" + selectedPlayerName + " " + recordMinutes + "\' (p)</li>"
                        );
                      }else if (goalScored) {
                        $("#homeScorers").append(
    "<li data-scorerLineupId=" + selectedLineupId + " ><strong>" + selectedPlayerName + " " + recordMinutes + "\'</li>"
                        );
                      }
                    }
                    if (ownGoal) {
                      $(".score").text(homeScore + " : " + plusAwayScore);
                      $("#awayScorers").append(
    "<li data-scorerLineupId=" + selectedLineupId + " ><strong>" + selectedPlayerName + " " + recordMinutes + "\' (og)</li>"
                      );
                    }
                    break;
                  case "AWAY - <%= match.info.awayClubName %>" :
                    $("#recordTimeLine").prepend('<li class="list-group-item recordItem text-right" data-selectedLineupId="' + selectedLineupId + '" data-recordId="' + recordId + '" homeAway="away"><div><strong> ' + selectedSquadNumber + ' </strong>' + selectedPlayerName + recordImg + recordMinutes + '\'</div></li>');
                    //전광판 점수 올리기
                    if (goalScored == true || penaltyScored == true) {
                      $(".score").text(homeScore + " : " + plusAwayScore);
                      if (penaltyScored) {
                        $("#awayScorers").append(
    "<li data-scorerLineupId=" + selectedLineupId + " ><strong>" + selectedPlayerName + " " + recordMinutes + "\' (p)</li>"
                        );
                      }else if (goalScored) {
                        $("#awayScorers").append(
    "<li data-scorerLineupId=" + selectedLineupId + " ><strong>" + selectedPlayerName + " " + recordMinutes + "\'</li>"
                        );
                      }
                    }
                    if (ownGoal) {
                      $(".score").text(plusHomeScore + " : " + awayScore);
                      $("#homeScorers").append(
    "<li data-scorerLineupId=" + selectedLineupId + " ><strong>" + selectedPlayerName + " " + recordMinutes + "\' (og)</li>"
                      );
                    }
                    break;
              }


          },
          error       : function(data, status, err) {
            console.log("error forward : "+data);
              alert('서버와의 통신이 실패했습니다.');
          },
          complete    : function() {
            $('.recordModal').modal('hide')
          }
        });


      });


      // 교체 모달 업!
      $(document).on('click', '.glyphicon-retweet', function (e) {

        // 선수속성 선택
        var player = $(this).siblings("input");
        var homeAway = $(this).parentsUntil(".panel").eq(2).siblings("div.panel-heading").text();

        // 모달 머리에 선수 속성 삽입
        $("#substitutionModal").html(
              "<strong>" +
              player.attr("data-squadNumber") +
              "</strong>" +
              " " +
              player.attr("data-playerName")
          ).attr('data-lineupId', player.attr('data-lineupId')).attr('data-playerName', player.attr('data-playerName')).attr('data-squadNumber', player.attr('data-squadNumber')).attr('data-homeAway', homeAway);

        //교체선수 라디오
        var html = '';
        var subPlayers = $(this).parents("div.panel-success").children("div.panel-footer").children("ul").children().not("[style]");

        subPlayers.each(function(i){
          var subPlayer = $(subPlayers[i]).children();
          html += '<div class="radio">';
            html += '<label>';
              html += '<input type="radio" name="subPlayer" value="' +
                      subPlayer.eq(2).attr('data-lineupId') +
                      '"data-squadNumber="' + subPlayer.eq(2).attr('data-squadNumber') +
                      '"data-playerName="' + subPlayer.eq(2).attr('data-playerName') +
                      '">';
              html += subPlayer.eq(0).text() + " " + subPlayer.eq(2).attr('data-squadNumber') + " " + subPlayer.eq(2).attr('data-playerName');
            html += '</label>';
          html += '</div>';
        })

        $(".subRadios").html(html);

      });

      // 교체버튼
      $(document).on('click', '#sendSub', function (e) {
        // console.log($(this).parentsUntil($(".modal-dialog")).siblings(".modal-body").children(".subRadios"));
        var homeAway = $("#substitutionModal").attr('data-homeAway');

        var selectedLineupId = $("#substitutionModal").attr('data-lineupId');
        var selectedSquadNumber = $("#substitutionModal").attr('data-squadNumber');
        var selectedPlayerName = $("#substitutionModal").attr('data-playerName');
        var selectedLineupIdElement = $('[data-lineupid="' + selectedLineupId + '"]').parent("li");

        var subLineupId = $('input[name=subPlayer]:checked', '.subRadios').val();
        var subPlayerName = $('input[name=subPlayer]:checked', '.subRadios').attr('data-playerName');
        var subSquadNumber = $('input[name=subPlayer]:checked', '.subRadios').attr('data-squadNumber');
        var subLineupIdElement = $('[data-lineupid="' + subLineupId + '"]').parent();

        var subMinutes = $("#subMinutes").val();
        var subRecordTime = $('input[name=subRecordTime]:checked').val();


        $.ajax({
          type        : 'POST',
          async       : true,
          url         : "/recordSubs/"+location.pathname.split("/")[4],
          data        : {
              selectedLineupId: selectedLineupId,
              subLineupId: subLineupId,
              recordMinutes : subMinutes,
              subRecordTime : subRecordTime
          },
          timeout : 3000,
          beforeSend  : function() {
              // $('#ajax_load_indicator').show().fadeIn('fast');

          },
          success     : function(data) {

              var selectedRecordId = data.selectedRecordId
              var subRecordId = data.subRecordId

              //교체되면 어두운색으로 바뀜
              selectedLineupIdElement.css("background-color", "#8C8C8C");
              subLineupIdElement.css("background-color", "white");

              //교체선수 교체 아이콘 추가 모달속성추가
              subLineupIdElement.prepend('<span class="pull-right blank">&nbsp;&nbsp;</span>').prepend('<span class="glyphicon glyphicon-retweet pull-right" data-toggle="modal" data-target=".substitutionModal"></span>');


              subLineupIdElement.children("span.label").attr("data-toggle", "modal").attr("data-target", ".recordModal").addClass("recordBtn");

              //선택된선수 교체 아이콘 제거, toggle-modal 제거
              selectedLineupIdElement.children(".glyphicon").remove()
              selectedLineupIdElement.children("span.label").removeAttr("data-toggle");

              switch (homeAway) {
                case "HOME - <%= match.info.homeClubName %>" : $("#recordTimeLine").prepend('<li class="list-group-item recordItem" data-selectedLineupId="' + selectedLineupId + '" data-subLineupId="' + subLineupId + '" data-selectedRecordId="' + selectedRecordId + '" data-subRecordId="' + subRecordId + '"><div><strong> ' + subSquadNumber + ' </strong>' + subPlayerName + ' <span class="glyphicon glyphicon-chevron-up"></span> ' + subMinutes + '\'</div><div><strong> ' + selectedSquadNumber + ' </strong>' + selectedPlayerName + ' <span class="glyphicon glyphicon-chevron-down"></span> ' + subMinutes + '\'</div></li>'); break;
                case "AWAY - <%= match.info.awayClubName %>" : $("#recordTimeLine").prepend('<li class="list-group-item recordItem text-right" data-selectedLineupId="' + selectedLineupId + '" data-subLineupId="' + subLineupId + '" data-selectedRecordId="' + selectedRecordId + '" data-subRecordId="' + subRecordId + '"><div><strong> ' + subSquadNumber + ' </strong>' + subPlayerName + ' <span class="glyphicon glyphicon-chevron-up"></span> ' + subMinutes + '\'</div><div><strong> ' + selectedSquadNumber + ' </strong>' + selectedPlayerName + ' <span class="glyphicon glyphicon-chevron-down"></span> ' + subMinutes + '\'</div></li>'); break;
              }

              $('.substitutionModal').modal('hide')

          },
          error       : function(data, status, err) {
            console.log("error forward : "+data);
              alert('서버와의 통신이 실패했습니다.');
          },
          complete    : function() {
            $('#ajax_load_indicator').fadeOut();
          }
        });

      });

      // 기록 삭제
      $(document).on('click', '.recordItem', function (e) {
        var selectedRecordElement = $(this);

        var recordIds = [];
        recordIds.push(selectedRecordElement.attr("data-recordId"));
        recordIds.push(selectedRecordElement.attr("data-selectedRecordId"));
        recordIds.push(selectedRecordElement.attr("data-subRecordId"));


        if(confirm('삭제할꺼여???')){

          //점수관련된것일경우 전광판 원상복귀
          var homeAway = selectedRecordElement.attr("homeAway");
          var selectedRecordName = selectedRecordElement.find("img").attr("alt");
          //전광판
          var score = $(".score").text().split(" : ");
          var homeScore = parseInt(score[0]);
          var awayScore = parseInt(score[1]);

          var minusHomeScore = homeScore - 1;
          var minusAwayScore = awayScore - 1;
          var sendScore = [];
          if (selectedRecordName == "goalScored" || selectedRecordName == "penaltyScored") {
            switch (homeAway) {
              case "home" :
                sendScore = [minusHomeScore, awayScore];
                break;

              case "away" :
                sendScore = [homeScore, minusAwayScore];
                break;
            }

          }else if (selectedRecordName == "ownGoal") {
            switch (homeAway) {
              case "home" :
                sendScore = [homeScore, minusAwayScore];
                break;

              case "away" :
                sendScore = [minusHomeScore, awayScore];
                break;
            }
          }

          $.ajax({
            type        : 'DELETE',
            async       : true,
            url         : "/records/"+location.pathname.split("/")[4],
            data        : {
                recordIds : recordIds,
                score : sendScore
            },
            beforeSend  : function() {
                // $('#ajax_load_indicator').show().fadeIn('fast');
            },
            success     : function(data) {

              //교체일경우
              var selectedLineupId =  selectedRecordElement.attr("data-selectedLineupId");
              var subLineupId = selectedRecordElement.attr("data-subLineupId");

              if(selectedRecordElement.children().length == 2){
                $("[data-lineupId=" + selectedLineupId + "]").parent().removeAttr("style");
                $('<span class="glyphicon glyphicon-retweet pull-right" data-target=".substitutionModal" data-toggle="modal"></span>').insertAfter($("[data-lineupId=" + selectedLineupId + "]").siblings("span.recordBtn"));
                $("[data-lineupId=" + selectedLineupId + "]").siblings("span.recordBtn").attr("data-toggle", "modal");

                $("[data-lineupId=" + subLineupId + "]").parent().removeAttr("style");
                $("[data-lineupId=" + subLineupId + "]").siblings("span.recordBtn").removeClass("recordBtn").removeAttr("data-toggle").removeAttr("data-target");
                $("[data-lineupId=" + subLineupId + "]").siblings("span.glyphicon").remove();
                $("[data-lineupId=" + subLineupId + "]").siblings("span.blank").remove();

                selectedRecordElement.remove();

              //그냥 기록일경우
              }else {

                //전광판 선수삭제
                if (selectedRecordName == "goalScored" ||
                      selectedRecordName == "penaltyScored" ||
                        selectedRecordName == "ownGoal") {
                  $("#scorersRow").find($("[data-scorerLineupId=" + selectedLineupId + "]")).remove();
                }

                //기록된엘리먼트 삭제
                selectedRecordElement.remove();
              }

              switch (selectedRecordName) {
                case "goalScored" :
                  if (homeAway == "home") {
                    $(".score").text((homeScore - 1) + " : " + awayScore);
                  }
                  if (homeAway == "away") {
                    $(".score").text(homeScore + " : " + (awayScore - 1));
                  }
                  break;
                case "ownGoal" :
                  if (homeAway == "home") {
                    $(".score").text(homeScore + " : " + (awayScore - 1));
                  }
                  if (homeAway == "away") {
                    $(".score").text((homeScore - 1) + " : " + awayScore);
                  }
                  break;
                case "penaltyScored" :
                  if (homeAway == "home") {
                    $(".score").text((homeScore - 1) + " : " + awayScore);
                  }
                  if (homeAway == "away") {
                    $(".score").text(homeScore + " : " + (awayScore - 1));
                  }
                  break;
              }


            },
            error       : function(data, status, err) {
              console.log("error forward : "+data);
                alert('서버와의 통신이 실패했습니다.');
            },
            complete    : function() {
              $('#ajax_load_indicator').fadeOut();
            }
          });

        }

      });


      //ejs 넘어온거 스타일 변경해주는 부분
      <%  match.playersRecorded.forEach ( function (item, index){ %>
        <% if (item.length == 2) { %>

          var subElement = $('[ data-lineupid="<%= item[0].lineupId %>" ]').parent();
          subElement.css("background-color", "white");
          subElement.prepend('<span class="pull-right blank">&nbsp;&nbsp;</span>');
          subElement.prepend('<span class="glyphicon glyphicon-retweet pull-right" data-target=".substitutionModal" data-toggle="modal"></span>');
          subElement.children("span.label").addClass("recordBtn");
          subElement.children("span.label").attr("data-toggle", "modal").attr("data-target", ".recordModal");

          var selectedElement = $('[ data-lineupid="<%= item[1].lineupId %>" ]').parent();

          selectedElement.css("background-color", "#8C8C8C");
          selectedElement.children("span.label").removeAttr("data-toggle");
          selectedElement.children(".glyphicon").remove()

        <% } %>
      <% }); %>




    </script>
  </body>
</html>