<!DOCTYPE html>
<html>
  <head>
    <% include ../layout/head %>
    <style>
      .glyphicon {
        color: gray;
      }
      .sub > .list-group-item {
        background-color: #EAEAEA;
      }
      .glyphicon-chevron-down {
        color: red;
      }
      .glyphicon-chevron-up {
        color: green;
      }
      .recordImg {
        margin-bottom: 5px;
      }

    </style>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <% include ../layout/navbar %>
      </div>

      <div class="row">

        <ul class="countdown list-unstyled list-inline text-center">
          <li>
            <span class="days">00</span>
            <p class="days_ref">days</p>
          </li>
          <li class="seperator">.</li>
          <li>
            <span class="hours">00</span>
            <p class="hours_ref">hours</p>
          </li>
          <li class="seperator">:</li>
          <li>
            <span class="minutes">00</span>
            <p class="minutes_ref">minutes</p>
          </li>
          <li class="seperator">:</li>
          <li>
            <span class="seconds">00</span>
            <p class="seconds_ref">seconds</p>
          </li>
        </ul>

      </div>


      <div class="row">

          <div class="jumbotron">
            <p><%= match.info.month %>월 <%= match.info.day %>일 / <%= match.info.hour %>:00  - 오학체육공원 </p>
            <p><%= match.info.matchName %></p>
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="row">
                  <!-- "http://localhost:3023/images/clubs/" -->
                  <img class="img-circle home pull-left" src="http://localhost:3023/images/clubs/<%= match.info.homeClubId %>/image.jpg" width="100" height="100" class="img-circle">
                  <img class="img-circle away pull-right" src="http://localhost:3023/images/clubs/<%= match.info.awayClubId %>/image.jpg" width="100" height="100" class="img-circle">
                  <h3><%= match.info.homeClubName %> <strong> - : - </strong> <%= match.info.awayClubName %></h3>
                </div>
                </button>
              </div>
            </div>
          </div>

      </div>



      <div class="row">



        <div class="col-md-4 col-xs-4">
          <div class="panel panel-success">
            <div class="panel-heading">HOME</div>
            <div class="panel-body">
              <h5>선발</h5>
              <ul class="list-group">
                <% match.homePlayers.starting.forEach(function(item, index){ %>
                  <li class="list-group-item">
                    <% switch(item.matchPosition) {
                      case "GK" : %>
                        <span data-toggle="modal"
                        data-target=".recordModal"
                        class="recordBtn label label-warning gk">GK</span>
                      <% break;
                      case "DF" : %>
                        <span data-toggle="modal"
                        data-target=".recordModal"
                        class="recordBtn label label-success df">DF</span>
                      <% break;
                      case "MF" : %>
                        <span data-toggle="modal"
                        data-target=".recordModal"
                        class="recordBtn label label-primary mf">MF</span>
                      <% break;
                      case "FW" : %>
                        <span data-toggle="modal"
                        data-target=".recordModal"
                        class="recordBtn label label-danger fw'">FW</span>
                      <% break;
                    } %>
                      <span class="glyphicon glyphicon-retweet pull-right" data-toggle="modal" data-target=".substitutionModal"></span>
                      <span class="pull-right blank">&nbsp;&nbsp;</span>
                      <span class="pull-right">
                        <strong> <%= item.squadNumber %></strong>
                          <%= item.playerName  %>
                      </span>
                      <input type="hidden"
                          data-squadNumber="<%= item.squadNumber %>"
                          data-playerName="<%= item.playerName %>"
                          data-lineupId="<%= item.lineupId %>">
                  </li>
                <% }); %>
              </ul>
            </div>
            <div class="panel-footer">
              <h5>대기</h5>
              <ul class="list-group sub">
                <% match.homePlayers.sub.forEach(function(item, index){ %>
                  <li class="list-group-item">
                    <% switch (item.matchPosition) {
                      case "GK" : %>
                        <span
                        class="label label-warning gk">GK</span>
                      <% break;
                      case "DF" : %>
                        <span
                        class="label label-success df">DF</span>
                      <% break;
                      case "MF" : %>
                        <span
                        class="label label-primary mf">MF</span>
                      <% break;
                      case "FW" : %>
                        <span
                        class="label label-danger fw'">FW</span>
                      <% break;
                    } %>

                      <span class="pull-right">
                        <strong> <%= item.squadNumber %></strong>
                          <%= item.playerName  %>
                      </span>
                      <input type="hidden"
                          data-squadNumber="<%= item.squadNumber %>"
                          data-playerName="<%= item.playerName %>"
                          data-lineupId="<%= item.lineupId %>">
                  </li>
                <% }); %>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-xs-4">
          <h4 class="text-center">기록</h4>
          <ul id="recordTimeLine" class="list-group">
            <%  match.playersRecorded.forEach ( function (item, index){ %>
            <!-- 교체일때 -->
              <% if (item.length == 2) { %>
                <% console.log(item[0]); //in
                %>
                <% console.log(item[1]); //out
                %>
                <% if (match.info.homeClubId == item[0].clubId) { %>

    <li class="list-group-item recordItem"
                <% }else { %>

    <li class="list-group-item pull-right recordItem"
                <% } %>
                data-subrecordid="<%= item[0].recordId %>" data-selectedrecordid="<%= item[1].recordId %>" data-sublineupid="<%= item[0].lineupId %>" data-selectedlineupid="<%= item[1].lineupId %>">
      <div>
        <strong> <%= item[0].squadNumber %> </strong>
        <%= item[0].playerName %>
        <span class="glyphicon glyphicon-chevron-up"></span>
        <%= item[0].time %>'
      </div>
      <div>
        <strong> <%= item[1].squadNumber %> </strong>
        <%= item[1].playerName %>
        <span class="glyphicon glyphicon-chevron-down"></span>
        <%= item[1].time %>'
      </div>
    </li>
            <!-- 교체가 아닐때 -->
              <% }else { %>
                <% if(match.info.homeClubId == item[0].clubId) { %>
  <li class="list-group-item recordItem data-selectedLineupId=108" data-recordid="77">

                <% }else { %>
  <li class="list-group-item pull-right recordItem data-selectedLineupId=108" data-recordid="77">

                <% } %>

                <% switch (item.recordName) { %>
                  <% case "goals" :  %>
  <div>
    <strong> 4 </strong>
    김동민
    <img class="recordImg" width="15" height="15" src="/img/recordIcons/goals.gif" alt="goals">
    1'
  </div>
</li>
                  <% break; %>

                <% } %>



                case "ownGoal"
                case "penalties"
                case "missedPenalties"
                case "redCards"
                case "yellowCards"
                case "secondYellowCard"





              <% } %>

            <% });  %>
          </ul>
        </div>
        <!-- away -->

        <div class="col-md-4 col-xs-4">
          <div class="panel panel-success">
            <div class="panel-heading">AWAY</div>
            <div class="panel-body">
              <h5>선발</h5>
              <ul class="list-group">
                <% match.awayPlayers.starting.forEach(function(item, index){ %>
                  <li class="list-group-item">
                    <% switch(item.matchPosition) {
                      case "GK" : %>
                        <span data-toggle="modal"
                        data-target=".recordModal"
                        class="recordBtn label label-warning gk">GK</span>
                      <% break;
                      case "DF" : %>
                        <span data-toggle="modal"
                        data-target=".recordModal"
                        class="recordBtn label label-success df">DF</span>
                      <% break;
                      case "MF" : %>
                        <span data-toggle="modal"
                        data-target=".recordModal"
                        class="recordBtn label label-primary mf">MF</span>
                      <% break;
                      case "FW" : %>
                        <span data-toggle="modal"
                        data-target=".recordModal"
                        class="recordBtn label label-danger fw'">FW</span>
                      <% break;
                    } %>
                      <span class="glyphicon glyphicon-retweet pull-right" data-toggle="modal" data-target=".substitutionModal"></span>
                      <span class="pull-right blank">&nbsp;&nbsp;</span>
                      <span class="pull-right">
                        <strong> <%= item.squadNumber %></strong>
                          <%= item.playerName  %>
                      </span>
                      <input type="hidden"
                          data-squadNumber="<%= item.squadNumber %>"
                          data-playerName="<%= item.playerName %>"
                          data-lineupId="<%= item.lineupId %>">
                  </li>
                <% }); %>
              </ul>
            </div>
            <div class="panel-footer">
              <h5>대기</h5>
              <ul class="list-group sub">
                <% match.awayPlayers.sub.forEach(function(item, index){ %>
                  <li class="list-group-item">
                    <% switch (item.matchPosition) {
                      case "GK" : %>
                        <span
                        class="label label-warning gk">GK</span>
                      <% break;
                      case "DF" : %>
                        <span
                        class="label label-success df">DF</span>
                      <% break;
                      case "MF" : %>
                        <span
                        class="label label-primary mf">MF</span>
                      <% break;
                      case "FW" : %>
                        <span
                        class="label label-danger fw'">FW</span>
                      <% break;
                    } %>

                      <span class="pull-right">
                        <strong> <%= item.squadNumber %></strong>
                          <%= item.playerName  %>
                      </span>
                      <input type="hidden"
                          data-squadNumber="<%= item.squadNumber %>"
                          data-playerName="<%= item.playerName %>"
                          data-lineupId="<%= item.lineupId %>">
                  </li>
                <% }); %>
              </ul>
            </div>
          </div>
        </div>


      </div>




<div class="modal fade recordModal" tabindex="-1" role="dialog" aria-labelledby="h4#playerForRecordModal" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="playerForRecordModal"><strong>number</strong> name</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <div class="input-group">
            <input id="recordTime" class="form-control" type="number">
            <div class="input-group-addon">분</div>
          </div>
        </div>
        <hr>
        <div class="container">
          <div class="radio">
            <label>
              <input type="radio" name="recordName" id="goals" value="goals" checked>
              득점
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="recordName" id="ownGoal" value="ownGoal">
              자책골
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="recordName" id="penalties" value="penalties">
              패널티골
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="recordName" id="missedPenalties" value="missedPenalties">
              패널티실축
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="recordName" id="redCards" value="redCards">
              레드카드
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="recordName" id="yellowCards" value="yellowCards">
              옐로카드
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="recordName" id="secondYellowCard" value="secondYellowCard">
              Y2카드
            </label>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">취소</button>
        <button id="sendRecord" type="button" class="btn btn-primary">기록</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade substitutionModal" tabindex="-1" role="dialog" aria-labelledby="h4#substitutionModal" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="substitutionModal"><strong>number</strong> name</h4>
      </div>
      <div class="modal-body">
          <div class="form-group">
            <div class="input-group">
              <input id="subTime" class="form-control" type="number" required="required">
              <div class="input-group-addon">분</div>
            </div>
          </div>

        <hr>
        <h4>누구와 교체??</h4>
        <div class="subRadios" class="container">
          <div class="radio">
            <label>
              <input type="radio" name="subPlayer" value="">
              number name
            </label>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">취소</button>
        <button id="sendSub" type="button" class="btn btn-primary">교체</button>
      </div>
    </div>
  </div>
</div>







      <% include ../layout/footer %>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <% include ../layout/defaultPlugins %>

    <script>


      // 기록 모달 업
      $(document).on('click', '.recordBtn', function (e) {

        var player = $(this).siblings("input");
        var homeAway = $(this).parentsUntil(".panel").eq(2).siblings("div.panel-heading").text();

        //선택된선수가 누구인지 모달에게 전달
        $("#playerForRecordModal").html(
              "<strong>" +
              player.attr("data-squadNumber") +
              "</strong>" +
              " " +
              player.attr("data-playerName")
          ).attr('data-lineupId', player.attr('data-lineupId')).attr('data-playerName', player.attr('data-playerName')).attr('data-squadNumber', player.attr('data-squadNumber')).attr('data-homeAway', homeAway);
      });

      // send 기록
      $(document).on('click', '#sendRecord', function (e) {

        var homeAway = $("#playerForRecordModal").attr('data-homeAway');

        var selectedLineupId = $("#playerForRecordModal").attr('data-lineupId');
        var selectedSquadNumber = $("#playerForRecordModal").attr('data-squadNumber');
        var selectedPlayerName = $("#playerForRecordModal").attr('data-playerName');
        var selectedLineupIdElement = $('[data-lineupid="' + selectedLineupId + '"]').parent("li");

        var selectedRecord = $('input[name=recordName]:checked').val();

        var recordTime = $("#recordTime").val();


        $.ajax({
          type        : 'POST',
          async       : true,
          url         : "/records/"+location.pathname.split("/")[2],
          data        : {
              selectedLineupId: selectedLineupId,
              selectedRecord : selectedRecord,
              recordTime : recordTime
          },
          beforeSend  : function() {
              // $('#ajax_load_indicator').show().fadeIn('fast');
          },
          success     : function(data) {
              // console.log('data ::::: ', data.recordId);
              var recordImg = '';
              var recordId = data.recordId

              switch (selectedRecord) {
                case "goals" : recordImg = ' <img alt="goals" src="/img/recordIcons/goals.gif" class="recordImg" width="15" height="15"> '; break;
                case "ownGoal" : recordImg = ' <img alt="ownGoal" src="/img/recordIcons/goals_O.gif" class="recordImg" width="15" height="15"> '; break;
                case "penalties" : recordImg = ' <img alt="penalties" src="/img/recordIcons/goals_P.gif" class="recordImg" width="15" height="15"> '; break;
                case "missedPenalties" : recordImg = ' <img alt="missedPenalties" src="/img/recordIcons/goals_W.gif" class="recordImg" width="15" height="15"> '; break;
                case "redCards" : recordImg = ' <img alt="redCards" src="/img/recordIcons/reds.gif" class="recordImg" width="15" height="15"> '; break;
                case "yellowCards" : recordImg = ' <img alt="yellowCards" src="/img/recordIcons/yells.gif" class="recordImg" width="15" height="15"> '; break;
                case "secondYellowCard" : recordImg = ' <img alt="secondYellowCard" src="/img/recordIcons/yell_reds.gif" class="recordImg" width="15" height="15"> '; break;
              }

              switch (homeAway) {
                  case "HOME" : $("#recordTimeLine").prepend('<li class="list-group-item recordItem data-selectedLineupId=' + selectedLineupId + '" data-recordId="' + recordId + '"><div><strong> ' + selectedSquadNumber + ' </strong>' + selectedPlayerName + recordImg + recordTime + '\'</div></li>'); break;
                  case "AWAY" : $("#recordTimeLine").prepend('<li class="list-group-item recordItem text-right data-selectedLineupId=' + selectedLineupId + '" data-recordId="' + recordId + '"><div><strong> ' + selectedSquadNumber + ' </strong>' + selectedPlayerName + recordImg + recordTime + '\'</div></li>'); break;
              }

              $('.recordModal').modal('hide')

          },
          error       : function(data, status, err) {
            console.log("error forward : "+data);
              alert('서버와의 통신이 실패했습니다.');
          },
          complete    : function() {
            $('#ajax_load_indicator').fadeOut();
          }
        });


      });


      // 교체 모달 업!
      $(document).on('click', '.glyphicon-retweet', function (e) {

        // 선수속성 선택
        var player = $(this).siblings("input");
        var homeAway = $(this).parentsUntil(".panel").eq(2).siblings("div.panel-heading").text();

        // 모달 머리에 선수 속성 삽입
        $("#substitutionModal").html(
              "<strong>" +
              player.attr("data-squadNumber") +
              "</strong>" +
              " " +
              player.attr("data-playerName")
          ).attr('data-lineupId', player.attr('data-lineupId')).attr('data-playerName', player.attr('data-playerName')).attr('data-squadNumber', player.attr('data-squadNumber')).attr('data-homeAway', homeAway);

        //교체선수 라디오
        var html = '';
        var subPlayers = $(this).parents("div.panel-success").children("div.panel-footer").children("ul").children().not("[style]");

        subPlayers.each(function(i){
          var subPlayer = $(subPlayers[i]).children();
          html += '<div class="radio">';
            html += '<label>';
              html += '<input type="radio" name="subPlayer" value="' +
                      subPlayer.eq(2).attr('data-lineupId') +
                      '"data-squadNumber="' + subPlayer.eq(2).attr('data-squadNumber') +
                      '"data-playerName="' + subPlayer.eq(2).attr('data-playerName') +
                      '">';
              html += subPlayer.eq(0).text() + " " + subPlayer.eq(2).attr('data-squadNumber') + " " + subPlayer.eq(2).attr('data-playerName');
            html += '</label>';
          html += '</div>';
        })

        $(".subRadios").html(html);

      });

      // 교체버튼
      $(document).on('click', '#sendSub', function (e) {
        // console.log($(this).parentsUntil($(".modal-dialog")).siblings(".modal-body").children(".subRadios"));
        var homeAway = $("#substitutionModal").attr('data-homeAway');

        var selectedLineupId = $("#substitutionModal").attr('data-lineupId');
        var selectedSquadNumber = $("#substitutionModal").attr('data-squadNumber');
        var selectedPlayerName = $("#substitutionModal").attr('data-playerName');
        var selectedLineupIdElement = $('[data-lineupid="' + selectedLineupId + '"]').parent("li");

        var subLineupId = $('input[name=subPlayer]:checked', '.subRadios').val();
        var subPlayerName = $('input[name=subPlayer]:checked', '.subRadios').attr('data-playerName');
        var subSquadNumber = $('input[name=subPlayer]:checked', '.subRadios').attr('data-squadNumber');
        var subLineupIdElement = $('[data-lineupid="' + subLineupId + '"]').parent();

        var subTime = $("#subTime").val();

        $.ajax({
          type        : 'POST',
          async       : true,
          url         : "/recordSubs/"+location.pathname.split("/")[2],
          data        : {
              selectedLineupId: selectedLineupId,
              subLineupId: subLineupId,
              recordTime : subTime
          },
          beforeSend  : function() {
              // $('#ajax_load_indicator').show().fadeIn('fast');
          },
          success     : function(data) {

              var selectedRecordId = data.selectedRecordId
              var subRecordId = data.subRecordId

              //교체되면 어두운색으로 바뀜
              selectedLineupIdElement.css("background-color", "#8C8C8C");
              subLineupIdElement.css("background-color", "white");

              //교체선수 교체 아이콘 추가 모달속성추가
              subLineupIdElement.prepend('<span class="pull-right blank">&nbsp;&nbsp;</span>').prepend('<span class="glyphicon glyphicon-retweet pull-right" data-toggle="modal" data-target=".substitutionModal"></span>');


              subLineupIdElement.children("span.label").attr("data-toggle", "modal").attr("data-target", ".recordModal").addClass("recordBtn");

              //선택된선수 교체 아이콘 제거, toggle-modal 제거
              selectedLineupIdElement.children(".glyphicon").remove()
              selectedLineupIdElement.children("span.label").removeAttr("data-toggle");

              switch (homeAway) {
                case "HOME" : $("#recordTimeLine").prepend('<li class="list-group-item recordItem" data-selectedLineupId="' + selectedLineupId + '" data-subLineupId="' + subLineupId + '" data-selectedRecordId="' + selectedRecordId + '" data-subRecordId="' + subRecordId + '"><div><strong> ' + subSquadNumber + ' </strong>' + subPlayerName + ' <span class="glyphicon glyphicon-chevron-up"></span> ' + subTime + '\'</div><div><strong> ' + selectedSquadNumber + ' </strong>' + selectedPlayerName + ' <span class="glyphicon glyphicon-chevron-down"></span> ' + subTime + '\'</div></li>'); break;
                case "AWAY" : $("#recordTimeLine").prepend('<li class="list-group-item recordItem text-right" data-selectedLineupId="' + selectedLineupId + '" data-subLineupId="' + subLineupId + '" data-selectedRecordId="' + selectedRecordId + '" data-subRecordId="' + subRecordId + '"><div><strong> ' + subSquadNumber + ' </strong>' + subPlayerName + ' <span class="glyphicon glyphicon-chevron-up"></span> ' + subTime + '\'</div><div><strong> ' + selectedSquadNumber + ' </strong>' + selectedPlayerName + ' <span class="glyphicon glyphicon-chevron-down"></span> ' + subTime + '\'</div></li>'); break;
              }

              $('.substitutionModal').modal('hide')

          },
          error       : function(data, status, err) {
            console.log("error forward : "+data);
              alert('서버와의 통신이 실패했습니다.');
          },
          complete    : function() {
            $('#ajax_load_indicator').fadeOut();
          }
        });

      });

      // 기록 삭제
      $(document).on('click', '.recordItem', function (e) {
        var selectedRecordElement = $(this);

        var recordIds = [];
        recordIds.push(selectedRecordElement.attr("data-recordId"));
        recordIds.push(selectedRecordElement.attr("data-selectedRecordId"));
        recordIds.push(selectedRecordElement.attr("data-subRecordId"));

        if(confirm('삭제할꺼여???')){

          $.ajax({
            type        : 'DELETE',
            async       : true,
            url         : "/records/"+location.pathname.split("/")[2],
            data        : {
                recordIds : recordIds
            },
            beforeSend  : function() {
                // $('#ajax_load_indicator').show().fadeIn('fast');
            },
            success     : function(data) {

              //교체일경우
              if(selectedRecordElement.children().length == 2){
                var selectedLineupId =  selectedRecordElement.attr("data-selectedLineupId");
                $("[data-lineupId=" + selectedLineupId + "]").parent().removeAttr("style");
                $('<span class="glyphicon glyphicon-retweet pull-right" data-target=".substitutionModal" data-toggle="modal"></span>').insertAfter($("[data-lineupId=" + selectedLineupId + "]").siblings("span.recordBtn"));
                $("[data-lineupId=" + selectedLineupId + "]").siblings("span.recordBtn").attr("data-toggle", "modal");

                var subLineupId = selectedRecordElement.attr("data-subLineupId");
                $("[data-lineupId=" + subLineupId + "]").parent().removeAttr("style");
                $("[data-lineupId=" + subLineupId + "]").siblings("span.recordBtn").removeClass("recordBtn").removeAttr("data-toggle").removeAttr("data-target");
                $("[data-lineupId=" + subLineupId + "]").siblings("span.glyphicon").remove();
                $("[data-lineupId=" + subLineupId + "]").siblings("span.blank").remove();

                selectedRecordElement.remove();

              }else {
                selectedRecordElement.remove();
              }


            },
            error       : function(data, status, err) {
              console.log("error forward : "+data);
                alert('서버와의 통신이 실패했습니다.');
            },
            complete    : function() {
              $('#ajax_load_indicator').fadeOut();
            }
          });

        }

      });



    </script>
  </body>
</html>