<div class="row">
	<div class="col-md-12">
		<center>
			<img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRbezqZpEuwGSvitKy3wrwnth5kysKdRqBW54cAszm_wiutku3R" name="aboutme" width="140" height="140" border="0" class="img-circle"></a>
			<br>
			<br>
			<h3 class="media-heading"><%= user.playerName %></h3>
			<p><small><%= user.birthday %></small>
				<br>
				<%= user.email %>
			</p>
		</center>
		<center>

			<table class="table">
				<caption>
					<h4 class="text-left">Transfer - </h4>
				</caption>
				<thead>
					<tr>
						<th></th>
						<th>시즌</th>
						<th>클럽</th>
						<th>확인</th>
					</tr>
				</thead>
				<tbody>
					<% user.transfer.forEach(function (item, index) { %>
						<tr>
							<% switch(item.transferStatus) {
								case "transfered" : %>
									<% switch(item.transfer) {
										case "loveCall" : %>
											<td>러브콜</td>
											<td>
												<%= item.season %> <%= item.community %>
											</td>
											<td>
												<%= item.teamName %>
											</td>
											<td>
												<span class="glyphicon glyphicon-ok text-success"></span>
											</td>
										<% break;
										case "requestCall" : %>
											<td>가입요청</td>
											<td>
												<%= item.season %> <%= item.community %>
											</td>
											<td>
												<%= item.teamName %>
											</td>
											<td>
												<span class="glyphicon glyphicon-ok text-success"></span>
											</td>
										<% break;
									} %>
								<% break;
								case "wait" : %>
									<% switch(item.transfer) {
										case "loveCall" : %>
											<td>러브콜</td>
											<td>
												<%= item.season %> <%= item.community %>
											</td>
											<td>
												<%= item.teamName %>
											</td>
											<td>
												<span class="glyphicon glyphicon-pencil text-primary" data-toggle="modal" data-target=""></span>
											</td>
										<% break;
										case "requestCall" : %>
											<td>가입요청</td>
											<td>
												<%= item.season %> <%= item.community %>
											</td>
											<td>
												<%= item.teamName %>
											</td>
											<td>
												대기중..
												<!-- <span class="glyphicon glyphicon-remove text-danger" data-toggle="modal" data-target=""></span> -->
											</td>
										<% break;
									} %>
								<% break;
							} %>

						</tr>


					<% }); %>
					<!-- <tr>
						<td>t러브콜</td>
						<td>2015 여주</td>
						<td>무진</td>
						<td>
							<span class="glyphicon glyphicon-pencil text-primary" data-toggle="modal" data-target=""></span>
						</td>
					</tr>
					<tr>
						<td>t이적요청</td>
						<td>2015 여주</td>
						<td>승성</td>
						<td>요청 대기중..</td>
					</tr>
					<tr>
						<td>t이적요청</td>
						<td>2015 여주</td>
						<td>승성</td>
						<td>
							<span class="glyphicon glyphicon-remove text-danger" data-toggle="modal" data-target=""></span>
						</td>
					</tr>
					<tr>
						<td>t
							<span class="glyphicon glyphicon-heart-empty text-danger" data-toggle="modal" data-target=""></span>
							콜
						</td>
						<td>2015 여주</td>
						<td>승성</td>
						<td>거부함</td>
					</tr> -->
				</tbody>
			</table>


			<table class="table" id="playerStat">
				<caption>
					<h4 class="text-left">Career - </h4>
				</caption>
				<thead>
					<tr>
						<th>시즌</th>
						<th>경기</th>
						<th>out</th>
						<th>in</th>
						<th>득점</th>
						<th>pk득점</th>
						<th class="hidden-xs">자책골</th>
						<th class="hidden-xs">pk실축</th>
						<th class="hidden-xs">y카드</th>
						<th class="hidden-xs">r카드</th>
						<th class="hidden-xs">y2카드</th>
					</tr>
				</thead>
				<tfoot>
					<tr class="info">
						<td>합계</td>
						<td>played</td>
						<td>out</td>
						<td>in</td>
						<td>goalScored</td>
						<td>penaltyScored</td>
						<td class="hidden-xs">ownGoal</td>
						<td class="hidden-xs">penaltyMissed</td>
						<td class="hidden-xs">yellowCard</td>
						<td class="hidden-xs">redCard</td>
						<td class="hidden-xs">secondYellowCard</td>
					</tr>
					<tr>
						<td colspan="11">
							<p class="text-right"><small><span class="text-danger">(c)</span> - captain</small></p>
						</td>
					</tr>
				</tfoot>
				<tbody>
					<% user.joinedLeagues.forEach(function (item, index) { %>
						<tr>

							<td>
								<%= item.season %> <%= item.community %>
								<% if (item.leader) { %>
									<span class="text-danger"> (c)</span>
								<% } %>
							</td>
							<td><%= item.played %></td>
							<td><%= item.out %></td>
							<td><%= item.in %></td>
							<td><%= item.goalScored %></td>
							<td><%= item.penaltyScored %></td>
							<td class="hidden-xs"><%= item.ownGoal %></td>
							<td class="hidden-xs"><%= item.penaltyMissed %></td>
							<td class="hidden-xs"><%= item.yellowCard %></td>
							<td class="hidden-xs"><%= item.redCard %></td>
							<td class="hidden-xs"><%= item.secondYellowCard %></td>
						</tr>
					<% }); %>
				</tbody>
			</table>

		</center>
	</div>
</div>