<div class="row schedule">

	<% if (locals.league.leagueId != 5) { %>
		<ul class="nav nav-pills" role="tablist">
			<li class="active"><a href="#firstMatches" role="tab" data-toggle="tab">1차전</a></li>
			<li><a href="#secondMatches" role="tab" data-toggle="tab">2차전</a></li>
			<li><a href="#tournament" role="tab" data-toggle="tab">토너먼트</a></li>
		</ul>
	<% } %>

	<div class="tab-content">

		<% var partName = [ "firstMatches", "secondMatches", "tournament" ]; %>
		<% var match = 0; %>
		<% var partCount = 0; %>
		<% var accordionCount = 0; %>
		<% matches.forEach(function (item) { %>
			<% if(!(match%(groupMatchCount/2))) { %>
				<% if(partCount == 0) { %>
					<div class="tab-pane in active" id="<%= partName[partCount] %>">
				<% }else { %>
					<div class="tab-pane" id="<%= partName[partCount] %>">
				<% } %>
				<div class="panel-group" id="accordion<%= partCount %>">

			<% } %>
		        <div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion<%= partCount %>" href="#<%= item.matchId %>">

								<small>
									<strong>
										<% if (match < groupMatchCount) { %>
											<%= item.rownum %>
										<% }else { %>
											<%= item.matchName %>
										<% } %>
									</strong> <%= item.month %>.<%= item.day %>&nbsp;
								</small>

									<%= item.homeClubName %>
									<% if (item.homeScore == null) { %>
										<%= item.hour %>:00
									<% }else {%>
										<% if(item.note) { %>
											<abbr title="<%= item.note %>"><%= item.homeScore %> : <%= item.awayScore %></abbr>
										<% }else { %>
										      <%= item.homeScore %> : <%= item.awayScore %>
									    <% } %>
									<% } %>
									<%= item.awayClubName %>

							</a>
						  <span class="badge pull-right getRecordViewBtn" value="<%= item.matchId %>" data-awayClubId="<%= item.awayClubId %>" data-homeClubId="<%= item.homeClubId %>">기록</span>
						</h4>
					</div>

					<div id="<%= item.matchId %>" class="panel-collapse collapse">

			            <div class="panel-body">
							<h4><%= item.matchName %> <%= item.month %>월 <%= item.day %>일 / <%= item.hour %>:00</h4>
							<h4><small><%= item.stadium %></small></h4>

							<% if (item.note) { %>
								<p class="text-center"><mark><%= item.note %></mark></p>
							<% } %>
							<div class="row">
								<div class="col-xs-4">
									<img class="home center-block" src="/images/club/<%= item.homeClubId%>/image.jpg" alt="64x64">

								</div>
								<div class="col-xs-4">
									<% if (item.homeScore == null) { %>
										<h3 class="score"><strong> <%= item.hour %>:00 </strong></h3>
									<% }else {%>
										<h3 class="score"><%= item.homeScore %><strong class="vs"> : </strong><%= item.awayScore %></h3>
									<% } %>

								</div>
								<div class="col-xs-4">
									<img class="away center-block" src="/images/club/<%= item.awayClubId%>/image.jpg" alt="64x64">

				                </div>
							</div>
			            </div> <!-- end panel -->

					</div>
		        </div>

			<% if (partCount == 2) { %>

				<% if (match%(groupMatchCount/2) == (tournamentMatchCount-1)) { %>
						</div>
					</div>    <!-- end tab-pane -->
				<% } %>
			<% }else { %>
				<% if (match%(groupMatchCount/2) == (groupMatchCount/2)-1) { %>
						</div>
					</div>    <!-- end tab-pane -->
					<% partCount++; %>
				<% } %>
			<% }%>


			<% match++; %>
		<% }); %>
	</div> <!-- end tab-content-->
</div> <!-- end row schedule-->
