<!DOCTYPE html>
<html>
	<head>
		<% include ../layout/head %>
		<style>
			.subPositionTd{
				padding-right: 2px;
				padding-left: 2px;
			}
			#bSub, #bExcepted {
				background: #eee;
				padding: 5px;
			}

		</style>
	</head>
	<body>
		<% include ../layout/navbar %>

		<div class="container">


			<% if (players.matchesForAClub.length == 0) { %>
					<div class="alert alert-danger">이 시즌에 참가하지 않았어요.</div>
			<% } %>


			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">명단을 제출한 경기</h3>
				</div>
				<div class="panel-body">
					<ul class="list-group">
						<% players.submittedMatches.forEach( function (item) { %>
							<li class="list-group-item" data-matchId="<%= item.matchId %>">
								<%= item.homeClubName %> vs <%= item.awayClubName %> <%= item.month %>월 <%= item.day %>일 <%= item.hour %>시
							</li>
						<% }); %>
					</ul>
				</div>
			</div>

			<div class="bs-callout">

				<form class="form-horizontal" role="form">
					<div class="form-group has-success has-feedback">
						<div class="row">
							<label class="control-label col-sm-4 col-md-4 col-xs-4" for="selectMatch">
								<h6 class="text-center center-block" style="margin-bottom:0;">제출할 경기를 선택하세요</h6>
							</label>
							<div class="col-sm-5 col-md-5 col-xs-5">
								<select class="form-control" id="selectMatch">
									<% players.matchesForAClub.forEach( function (item) { %>
										<option value="<%= item.matchId %>">
											<%= item.homeClubName %> vs <%= item.awayClubName %> <%= item.month %>월 <%= item.day %>일 <%= item.hour %>시  <%= item.note ? item.note : "" %>
										</option>
									<% }); %>
								</select>
							</div>
							<div class="col-sm-3 col-md-3 col-xs-3">
								<button id="sendLineups" type="button" class="btn btn-info btn-sm">명단 제출</button>
							</div>
						</div>
					</div>
				</form>

				<br>

				<div class="row">
					<h6 class="text-center center-block col-sm-4 col-md-4 col-xs-4" style="margin-bottom:0;">세이브 하고 나서 명단제출하셈..</h6>
					<div class="col-sm-3 col-md-3 col-xs-3">
						<select id="selectedFormation" class="form-control">
							<option value="<%= players.formation %>"><%= players.formation %></option>
							<% players.anotherFormation.forEach(function(item, index) { %>
								<option value="<%= item %>"> <%= item %> </option>
							<% }); %>
						</select>
					</div>

					<div class="col-sm-5 col-md-5 col-xs-5">
						<button id="save" type="button" class="btn btn-success btn-block btn-sm">SAVE</button>
					</div>
				</div>

			</div>

			<br>




			<br>

			<div class="row">

			</div>

			<div class="row">


			</div>

			<div class="row">

				<div class="col-md-4 col-xs-4">
					<div class="panel panel-success">
						<div class="panel-heading">선발</div>
						<div class="panel-body">
							<ul class="list-group bConnectedSortable" id="bStarting">
								<%  players.starting.forEach(function(item, index){  %>
									<li class="list-group-item">
										<% switch(item.matchPosition) {
											case "GK" : %>
												<span class="label label-warning gk">GK</span>
											<% break;
											case "DF" : %>
												<span class="label label-success df">DF</span>
											<% break;
											case "MF" : %>
												<span class="label label-primary mf">MF</span>
											<% break;
											case "FW" : %>
												<span class="label label-danger fw'">FW</span>
											<% break;
										} %>
											<span class="pull-right"><strong> <%= item.squadNumber %></strong> <%= item.playerName %></span>
									</li>
								<%  });  %>
							</ul>
						</div>
					</div>
				</div>

				<!-- 대기명단 -->
				<div class="col-md-4 col-xs-4">
					<div class="panel panel-info">
						<div class="panel-heading">대기</div>
						<div class="panel-body">
							<ul class="list-group bConnectedSortable" id="bSub">
								<% players.sub.forEach(function(item, index){ %>
									<li class="list-group-item">



										<% switch (item.matchPosition) {
											case "GK" : %>
												<span data-toggle="popover" class="label label-warning gk">GK</span>
											<% break;
											case "DF" : %>
												<span data-toggle="popover" class="label label-success df">DF</span>
											<% break;
											case "MF" : %>
												<span data-toggle="popover" class="label label-primary mf">MF</span>
											<% break;
											case "FW" : %>
												<span data-toggle="popover" class="label label-danger fw'">FW</span>
											<% break;
										} %>

											<span class="pull-right"><strong> <%= item.squadNumber %></strong> <%= item.playerName %></span>
									</li>
								<%  });  %>
							</ul>
							</ul>
						</div>
					</div>
				</div>
				<!-- 제외명단 -->
				<div class="col-md-4 col-xs-4">
					<div class="panel panel-warning">
						<div class="panel-heading">제외</div>
						<div class="panel-body">
							<ul class="list-group bConnectedSortable" id="bExcepted">
								<% players.excepted.forEach(function(item, index){ %>
									<li class="list-group-item">

										<% switch (item.matchPosition) {
											case "GK" : %>
												<span data-toggle="popover" class="label label-warning gk">GK</span>
											<% break;
											case "DF" : %>
												<span data-toggle="popover" class="label label-success df">DF</span>
											<% break;
											case "MF" : %>
												<span data-toggle="popover" class="label label-primary mf">MF</span>
											<% break;
											case "FW" : %>
												<span data-toggle="popover" class="label label-danger fw'">FW</span>
											<% break;
										} %>

											<span class="pull-right"><strong> <%= item.squadNumber %></strong> <%= item.playerName %></span>
									</li>
								<%  });  %>
							</ul>
						</div>
					</div>
				</div>

			</div>


			<br>
			<br>
			<br>


			<% include ../layout/footer %>

		</div> <!-- /container -->


		<!-- Bootstrap core JavaScript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<% include ../layout/defaultPlugins %>


	</body>
</html>