<!DOCTYPE html>
<html>
  <head>
    <% include ../layout/head %>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <% include ../layout/navbar %>
      </div>


      <div class="row">
        <button id="save" type="button" class="btn btn-success btn-block">SAVE</button>
      </div>

      <br>
      <br>
      <br>

      <div class="row">
        <select id="selectFormation" class="form-control">
          <option value="433">4-3-3</option>
          <option value="442">4-4-2</option>
          <option value="451">4-5-1</option>
          <option value="343">3-4-3</option>
          <option value="352">3-5-2</option>
          <option value="361">3-6-1</option>
          <option value="532">5-3-2</option>
          <option value="541">5-4-1</option>
        </select>
      </div>

      <br>
      <br>
      <br>

      <div class="row">

        <div class="col-md-4 col-xs-4">
          <div class="panel panel-success">
            <div class="panel-heading">선발</div>
            <div class="panel-body">
              <ul class="list-group bConnectedSortable" id="bStarting">
                <%  starting.forEach(function(item, index){  %>
                  <li class="list-group-item">
                    <%
                      switch (item.matchPosition) {
                        case "GK" :
                    %>
                          <span class="label label-warning gk"><%=  item.matchPosition  %></span>
                          <span class="pull-right">
                            <strong> <%=  item.squadNumber%></strong>
                              <%=item.lastName + item.firstName  %>
                          </span>
                      <%
                        break;
                        case "DF" :
                      %>
                        <span class="label label-primary df"><%=  item.matchPosition  %></span>
                        <span class="pull-right">
                          <strong> <%=  item.squadNumber%></strong>
                            <%=  item.lastName + item.firstName  %>
                        </span>
                      <%
                        break;
                        case "MF" :
                      %>
                        <span class="label label-success mf"><%=  item.matchPosition  %></span>
                        <span class="pull-right">
                          <strong> <%=  item.squadNumber%></strong>
                            <%=  item.lastName + item.firstName  %>
                        </span>
                      <%
                        break;
                        case "FW" :
                      %>
                        <span class="label label-danger fw'"><%=  item.matchPosition  %></span>
                        <span class="pull-right">
                          <strong> <%=  item.squadNumber%></strong>
                            <%=  item.lastName + item.firstName  %>
                        </span>
                    <%
                        break;
                      }
                    %>
                  </li>
                <%  });  %>
              </ul>
            </div>
          </div>
        </div>

        <!-- 대기명단 -->
        <div class="col-md-4 col-xs-4">
          <div class="panel panel-info">
            <div class="panel-heading">대기</div>
            <div class="panel-body">
              <ul class="list-group bConnectedSortable" id="bSub">
                <%  sub.forEach(function(item, index){  %>
                  <li class="list-group-item">
                    <%
                      switch (item.matchPosition) {
                        case "GK" :
                    %>
                        <span class="badge alert-warning gk"><%=  item.matchPosition  %></span>
                        <strong><%=  item.squadNumber%></strong>
                          <%=  item.lastName + item.firstName  %>
                      <%
                        break;
                        case "DF" :
                      %>
                        <span class="badge alert-success df"><%=  item.matchPosition  %></span>
                        <strong><%=  item.squadNumber%></strong>
                          <%=  item.lastName + item.firstName  %>
                      <%
                        break;
                        case "MF" :
                      %>
                        <span class="badge alert-info mf"><%=  item.matchPosition  %></span>
                        <strong><%=  item.squadNumber%></strong>
                          <%=  item.lastName + item.firstName  %>
                      <%
                        break;
                        case "FW" :
                      %>
                        <span class="badge alert-danger fw'"><%=  item.matchPosition  %></span>
                        <strong><%=  item.squadNumber%></strong>
                          <%=  item.lastName + item.firstName  %>
                    <%
                        break;
                      }
                    %>
                  </li>
                <%  });  %>
              </ul>
              </ul>
            </div>
          </div>
        </div>
        <!-- 제외명단 -->
        <div class="col-md-4 col-xs-4">
          <div class="panel panel-warning">
            <div class="panel-heading">제외</div>
            <div class="panel-body">
              <ul class="list-group bConnectedSortable" id="bExcepted">
                <%  excepted.forEach(function(item, index){  %>
                  <li class="list-group-item">
                    <%
                      switch (item.matchPosition) {
                        case "GK" :
                    %>
                        <span class="badge alert-warning gk"><%=  item.matchPosition  %></span>
                        <strong><%=  item.squadNumber%></strong>
                          <%=  item.lastName + item.firstName  %>
                      <%
                        break;
                        case "DF" :
                      %>
                        <span class="badge alert-success df"><%=  item.matchPosition  %></span>
                        <strong><%=  item.squadNumber%></strong>
                          <%=  item.lastName + item.firstName  %>
                      <%
                        break;
                        case "MF" :
                      %>
                        <span class="badge alert-info mf"><%=  item.matchPosition  %></span>
                        <strong><%=  item.squadNumber%></strong>
                          <%=  item.lastName + item.firstName  %>
                      <%
                        break;
                        case "FW" :
                      %>
                        <span class="badge alert-danger fw'"><%=  item.matchPosition  %></span>
                        <strong><%=  item.squadNumber%></strong>
                          <%=  item.lastName + item.firstName  %>
                    <%
                        break;
                      }
                    %>
                  </li>
                <%  });  %>
              </ul>
            </div>
          </div>
        </div>

      </div>


      <br>
      <br>
      <br>

      <div class="row">
        <!-- 선발명단 -->
        <div class="col-md-4 col-xs-4">
          <div class="panel panel-success">
            <div class="panel-heading">선발</div>
            <div class="panel-body">
              <ul class="list-group bConnectedSortable" id="starting">
                <li class="list-group-item">
                  <span class="badge alert-warning">GK</span>1 starting
                </li>
                <li class="list-group-item">
                  <span class="badge">DF</span>2 starting
                </li>
                <li class="list-group-item">
                  <span class="badge">DF</span>3 starting
                </li>
                <li class="list-group-item">
                  <span class="badge">DF</span>4 starting
                </li>
                <li class="list-group-item">
                  <span class="badge">DF</span>5 starting
                </li>
                <li class="list-group-item">
                  <span class="badge">MF</span>6 starting
                </li>
                <li class="list-group-item">
                  <span class="badge">MF</span>7 starting
                </li>
                <li class="list-group-item">
                  <span class="badge">MF</span>8 starting
                </li>
                <li class="list-group-item">
                  <span class="badge">MF</span>9 starting
                </li>
                <li class="list-group-item">
                  <span class="badge">FW</span>10 starting
                </li>
                <li class="list-group-item">
                  <span class="badge">FW</span>11 starting
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- 대기명단 -->
        <div class="col-md-4 col-xs-4">
          <div class="panel panel-info">
            <div class="panel-heading">대기</div>
            <div class="panel-body">
              <ul class="list-group bConnectedSortable" id="sub">
                <li class="list-group-item">
                  <span data-toggle="popover" class="badge alert-warning">GK</span>1 sub
                </li>
                <li class="list-group-item">
                  <span data-toggle="popover" class="badge alert-success">DF</span>2 sub
                </li>
                <li class="list-group-item">
                  <span data-toggle="popover" class="badge alert-info">MF</span>3 sub
                </li>
                <li class="list-group-item">
                  <span data-toggle="popover" class="badge alert-info">MF</span>4 sub
                </li>
                <li class="list-group-item">
                  <span data-toggle="popover" class="badge alert-danger">FW</span>5 sub
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- 제외명단 -->
        <div class="col-md-4 col-xs-4">
          <div class="panel panel-warning">
            <div class="panel-heading">제외</div>
            <div class="panel-body">
              <ul class="list-group bConnectedSortable" id="excepted">
                <li class="list-group-item">
                  <span class="badge">GK</span>1 excepted
                </li>
                <li class="list-group-item">
                  <span class="badge">DF</span>2 excepted
                </li>
                <li class="list-group-item">
                  <span class="badge">MF</span>3 excepted
                </li>
                <li class="list-group-item">
                  <span class="badge">MF</span>4 excepted
                </li>
                <li class="list-group-item">
                  <span class="badge">FW</span>5 excepted
                </li>
                <li class="list-group-item">
                  <span class="badge">FW</span>6 excepted
                </li>
                <li class="list-group-item">
                  <span class="badge">FW</span>7 excepted
                </li>
                <li class="list-group-item">
                  <span class="badge">FW</span>8 excepted
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>


      <% include ../layout/footer %>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <% include ../layout/defaultPlugins %>
  </body>
</html>