
			<div class="row">
				<img id="teamLogo" class="center-block" src="/images/team/<%= club.teamId %>/image140.jpg">
				<h3 class="text-center"><%= club.teamName %></h3>
				<input id="clubNumber" type="hidden" value="<%= club.clubId %>">
				<input id="playerId" type="hidden" value="<%= user.playerId %>">
				<p class="text-muted text-center">리더 : <%= club.leaderName%> </p>
				<!-- <p class="text-muted text-center">승률 : 30%(총 20경기 4승 3무 3패) !!더미</p> -->

				<%	if (league.status == 'playing') { %>
					<p class="text-center">
						<button id="getFormation" class="btn btn-info btn-lg">Formation</button>
					</p>
				<% } %>
			</div>

