<!DOCTYPE html>
<html>
	<head>
		<% include ../layout/head %>
		<style>
			.table tbody>tr>td {
				vertical-align: middle;
			}
			img.img-circle {
				margin: 0 auto;
			}
			th, td {
				text-align: center;
			}
			td > a {
				color: #008CBA;
				cursor: pointer;
			}
			td > a:hover {
				text-decoration: underline;
			}
			.playerName {
				/*width: 50px;*/
			}
			.glyphicon-remove, .glyphicon-pencil{
				font-size: 1.2em; /* size lager */
				cursor: pointer;
			}
			.bootstrap-select > .btn {
				/* 이거 bootstrap default select box 맞춰주는거야 꼭필요*/
				padding: 6px 12px !important;
			}
		</style>

	</head>
	<body>
		<% include ../layout/navbar %>
		<div class="container">

			<% include ../layout/joinedUser %>

			<% include ../layout/alertLeague %>

			<div class="row">
				<img id="teamLogo" class="center-block" src="/images/team/<%= club.teamId %>/image140.jpg">
				<h3 class="text-center"><%= club.teamName %></h3>
				<input id="clubNumber" type="hidden" value="<%= club.clubId %>">
				<input id="playerId" type="hidden" value="<%= user.playerId %>">
				<p class="text-muted text-center">리더 : <%= club.leaderName%> </p>
				<!-- <p class="text-muted text-center">승률 : 30%(총 20경기 4승 3무 3패) !!더미</p> -->

				<%	if (league.status == 'playing') { %>
					<p class="text-center">
						<button id="getFormation" class="btn btn-info btn-lg">Formation</button>
					</p>
				<% } %>
			</div>

			<%	if (league.status == 'before') { %>
				<% if (user.userId === club.leaderId) { %>
					<% include editPlayer %>

				<% }else { %>
					<% include playerStat %>
				<% } %>

			<% }else { %>
				<% include playerStat %>
			<% } %>


			<% include ../layout/playerLim %>

			<% console.log("club     :   " , club); %>
			<% console.log("league     :   " , league); %>

			<%	if (league.status == 'before') { %>

				<% if (user.clubId === club.clubId && !(user.userId === club.leaderId)) { %>

					<!-- <button type="button" class="btn btn-info btn-lg btn-block" data-toggle="modal" data-target=".updatePosition">포지션 수정 </button>
					<button type="button" class="btn btn-info btn-lg btn-block" data-toggle="modal" data-target=".squadNumber">스쿼드넘버 수정 </button> -->
					<button type="button" class="btn btn-danger btn-lg btn-block" id="signoutClub">이 클럽 탈퇴 </button>

					<div class="bs-callout">
						<h5>리그가 시작되면 탈퇴할 수 없습니다.</h5>
					</div>

				<% }else if (!(user.userId === club.leaderId)) { %>
					<a type="button" class="btn btn-success btn-lg btn-block" data-toggle="modal" data-target="#clubId<%= club.clubId %>">
						이 클럽에 가입
					</a>
				<% } %>
			<%	}	/* end before */%>

			<% include ../layout/footer %>

		</div> <!-- /container -->


		<!-- Bootstrap core JavaScript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<% include ../layout/defaultPlugins %>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.0/js/bootstrapValidator.min.js"></script>
		<script src="/js/bootstrap-select.js"></script>
		<script>
			//포메이션으로 이동
			$("#getFormation").click( function (e) {
				location.href = location.origin +
								"/league/" +
								location.pathname.split("/")[2] +
								"/formation/" +
								location.pathname.split("/")[4];
			})

			$("#deleteClub").click(function(e) {

				$.ajax({
					type        : 'delete',
					async       : true,
					url         : '/club',
					data        : {clubId: $("#clubNumber").val()},
					beforeSend  : function() {
							 $('#ajax_load_indicator').show().fadeIn('fast');
					},
					success     : function(data) {
						console.log('success data : ' + data);
						console.log(data.redirect);
						alert( "success" );
						window.location.href = data.redirect;
					},
					error       : function(data, status, err) {
						console.log("error forward : "+data);
							alert('서버와의 통신이 실패했습니다.');
					},
					complete    : function() {
						$('#ajax_load_indicator').fadeOut();
					}
				});

			});

			$("#signoutClub").click(function(e) {
				$.ajax({
					type        : 'delete',
					async       : true,
					crossDomain : true,
					url         : '/signoutClub',
					data        : {playerId: $("#playerId").val()},
					beforeSend  : function() {
							 $('#ajax_load_indicator').show().fadeIn('fast');
					},
					success     : function(data) {
						console.log('success data : ' + data);
						console.log(data);
						console.log(data.redirect);
						alert( "success" );
						window.location.href = data.redirect;
					},
					error       : function(data, status, err) {
						console.log("error forward : "+data);
							alert('서버와의 통신이 실패했습니다.');
					},
					complete    : function() {
						$('#ajax_load_indicator').fadeOut();
					}
				});

			});

			$("#outLeague").click(function (e) {

				console.log('out click???');

				var url = "/league/" + location.pathname.split("/")[2] + "/outLeague";

				$.ajax({
					type        : 'delete',
					async       : true,
					url         : url,
					data 		: {clubId : location.pathname.split("/")[4]},
					beforeSend  : function() {
						NProgress.inc();
					},
					success     : function(data) {
						console.log('통신성공');
					},
					error       : function(data, status, err) {
						console.log("error forward : "+data);
						alert('서버와의 통신이 실패했습니다.');
					},
					complete    : function (xhr, status) {
						NProgress.done();
						location.href = location.origin + "/league/" + location.pathname.split("/")[2] + "/match";
					}
				});
			});

			//insert default image
			$(".img-circle").each(function () {
				if (!this.complete || typeof this.naturalWidth == "undefined" || this.naturalWidth == 0) {
					// image was broken, replace with your new image
					this.src = '/images/default/defaultUser.png';
				}
			});

			$("#teamLogo").is(function () {
				if (!this.complete || typeof this.naturalWidth == "undefined" || this.naturalWidth == 0) {
					// image was broken, replace with your new image
					this.src = '/images/default/defaultClub.png';
				}
			});

			<% include ../js/updatePositionSqaudNumberJs %>

			<% include ../js/removePlayerInClubJs %>

			<% include ../js/insertPlayerValidatorJs %>


			//구지 첨부터 특정포지션 설정해놓는게 낫지 않을까???
			// $('#updatePosition')
				// .find('[name="position"]')
				//     .selectpicker()
				//     .change(function(e) {
				//         // revalidate the language when it is changed
				//         $('#updatePosition').bootstrapValidator('revalidateField', 'position');
				//     })
				//     .end()
				// .bootstrapValidator({
				//     excluded: ':disabled',
				//     feedbackIcons: {
				//         valid: 'glyphicon glyphicon-ok',
				//         invalid: 'glyphicon glyphicon-remove',
				//         validating: 'glyphicon glyphicon-refresh'
				//     },
				//     fields: {
				//         language: {
				//             validators: {
				//                 notEmpty: {
				//                     message: 'Please select your native language.'
				//                 }
				//             }
				//         }
				//     }
				// });





		</script>

	</body>
</html>