<table class="table">

	<thead>
		<tr>
			<th></th>
			<th>등번호</th>
			<th class="playerName">이름</th>
			<th>수정</th>
			<th>제외</th>
		</tr>
	</thead>
	<tbody>

		<%
			var level = 0;
			club.readyPlayers.forEach(function (item, index) {
				switch (item.position) {
					case 'GK' :
						if (level == 0) { %>
							<tr>
								<td class="text-left" colspan="5">
									<span class="text-warning" style="font-size:1.4em;">GK</span>
								</td>
							</tr>
						<% level++;
						}
						break;
					case 'DF' :
						if (level == 1) { %>
							<tr>
								<td class="text-left" colspan="5">
									<span class="text-success" style="font-size:1.4em;">DF</span>
								</td>
							</tr>
						<% level++;
						}
						break;
					case 'MF' :
						if (level == 2) { %>
							<tr>
								<td class="text-left" colspan="5">
									<span class="text-info" style="font-size:1.4em;">MF</span>
								</td>
							</tr>
						<% level++;
						}
						break;
					case 'FW' :
						if (level == 3) { %>
							<tr>
								<td class="text-left" colspan="5">
									<span class="text-danger" style="font-size:1.4em;">FW</span>
								</td>
							</tr>
						<% level++;
						}
				 		break;
				} %>

				<tr>
					<td>
						<img src="/images/default/defaultUser.png" class="img-circle img-responsive" alt="A">
					</td>
					<td><%= item.squadNumber%></td>
					<td><%= item.playerName%></td>
					<td><span class="glyphicon glyphicon-pencil text-primary" data-toggle="modal" data-toggle="modal" data-target=".squadNumberModal" data-player-name="<%= item.playerName %>" data-player-id="<%= item.playerId %>" value="<%= item.squadNumber %>"></span></td>
					<td><span class="glyphicon glyphicon-remove text-danger" data-player-id="<%= item.playerId %>" data-player-name="<%= item.playerName %>"></span></td>
				</tr>
		<% }); %>
	</tbody>
</table>



<button type="button" class="btn btn-success btn-lg btn-block" data-toggle="modal" data-target=".addPlayerModal">
	선수추가 <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
</button>
<br>
<button type="button" class="btn btn-danger btn-lg btn-block" data-toggle="modal" data-target=".confirmLeagueOutModal">
	리그에 참가하지않음 <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
</button>
