<table class="table">
	<caption>
		<h4 class="text-left">Player - </h4>
	</caption>
	<thead>
		<tr>
			<th></th>
			<th>등번호</th>
			<th class="playerName">이름</th>
			<th>등번호 수정</th>
			<th>포지션 수정</th>
			<th>제외</th>
		</tr>
	</thead>
	<tbody>

		<%
			var level = 0;
			club.readyPlayers.forEach(function (player, index) {
				switch (player.position) {
					case 'GK' :
						if (level == 0) { %>
							<tr>
								<td class="text-left" colspan="6">
									<span class="text-warning" style="font-size:1.4em;">GK</span>
								</td>
							</tr>
						<% level++;
						}
						break;
					case 'DF' :
						if (level == 1) { %>
							<tr>
								<td class="text-left" colspan="6">
									<span class="text-success" style="font-size:1.4em;">DF</span>
								</td>
							</tr>
						<% level++;
						}
						break;
					case 'MF' :
						if (level == 2) { %>
							<tr>
								<td class="text-left" colspan="6">
									<span class="text-info" style="font-size:1.4em;">MF</span>
								</td>
							</tr>
						<% level++;
						}
						break;
					case 'FW' :
						if (level == 3) { %>
							<tr>
								<td class="text-left" colspan="6">
									<span class="text-danger" style="font-size:1.4em;">FW</span>
								</td>
							</tr>
						<% level++;
						}
				 		break;
				} %>

				<tr>
					<td>
						<img src="/images/default/defaultUser40.png" class="img-circle img-responsive" alt="A">
					</td>
					<td><%= player.squadNumber%></td>
					<td><%= player.playerName%></td>
					<td>
						<span class="glyphicon glyphicon-pencil text-primary" data-toggle="modal" data-target=".squadNumberModal"
						data-player-name="<%= player.playerName %>"
						data-player-id="<%= player.playerId %>"
						data-player-squadNumber="<%= player.squadNumber %>"
						></span>
					</td>
					<td>
						<span class="glyphicon glyphicon-pencil text-primary" data-toggle="modal" data-target=".positionModal"
						data-player-name="<%= player.playerName %>"
						data-player-id="<%= player.playerId %>"
						data-player-position="<%= player.position %>"
						></span>
					</td>
					<td><span class="glyphicon glyphicon-remove text-danger" data-player-id="<%= player.playerId %>" data-player-name="<%= player.playerName %>"></span></td>
				</tr>
		<% }); %>
	</tbody>
</table>



<button type="button" class="btn btn-success btn-lg btn-block" data-toggle="modal" data-target=".addPlayerModal">
	선수추가 <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
</button>
<br>
<button type="button" class="btn btn-danger btn-lg btn-block" data-toggle="modal" data-target=".confirmLeagueOutModal">
	리그에 참가하지않음 <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
</button>
