			<div class="row">
				<div class="col-md-12">

					<table class="table">
						<thead>
							<tr>
								<th class="hidden-xs">시즌</th>
								<th>경기</th>
								<th>승</th>
								<th>무</th>
								<th>패</th>
								<th class="hidden-xs">득</th>
								<th class="hidden-xs">실</th>
								<th>차</th>
							</tr>
						</thead>
						<tbody>

							<% club.stats.forEach(function (stat) { %>

								<tr>
									<td class="hidden-xs"><%= stat.season %></td>
									<td><%= stat.played %></td>
									<td><%= stat.won %></td>
									<td><%= stat.drawn %></td>
									<td><%= stat.lost %></td>
									<td class="hidden-xs"><%= stat.for %></td>
									<td class="hidden-xs"><%= stat.against %></td>
									<td><%= stat.different %></td>
								</tr>

							<% }); %>

						</tbody>
					</table>
				</div>
			</div>

			<div class="row">

				<caption>
					<h4 class="text-left">Player - </h4>
				</caption>
				<table class="table">
					<thead>
						<tr>
							<th></th>
							<th>등번호</th>
							<th>이름</th>
							<th>경기</th>
							<th>out</th>
							<th>in</th>
							<th>득점</th>
							<th>pk득점</th>
							<th class="hidden-xs">자책골</th>
							<th class="hidden-xs">pk실축</th>
							<th class="hidden-xs">y카드</th>
							<th class="hidden-xs">r카드</th>
							<th class="hidden-xs">y2카드</th>
						</tr>
					</thead>

					<tbody>

						<%
							var level = 0;
							club.readyPlayers.forEach(function (player, index) {
								switch (player.position) {
									case 'GK' :
										if (level == 0) { %>
											<tr>
												<td class="text-left" colspan="13">
													<span class="text-warning" style="font-size:1.4em;">GK</span>
												</td>
											</tr>
										<% level++;
										}
										break;
									case 'DF' :
										if (level == 1) { %>
											<tr>
												<td class="text-left" colspan="13">
													<span class="text-success" style="font-size:1.4em;">DF</span>
												</td>
											</tr>
										<% level++;
										}
										break;
									case 'MF' :
										if (level == 2) { %>
											<tr>
												<td class="text-left" colspan="13">
													<span class="text-info" style="font-size:1.4em;">MF</span>
												</td>
											</tr>
										<% level++;
										}
										break;
									case 'FW' :
										if (level == 3) { %>
											<tr>
												<td class="text-left" colspan="13">
													<span class="text-danger" style="font-size:1.4em;">FW</span>
												</td>
											</tr>
										<% level++;
										}
								 		break;
								} %>

							<% if (player.userId == user.userId) {%>
								<tr class="info">
							<% } else {  %>
								<tr>
							<% } %>
									<td>
										<img src="/images/default/defaultUser40.png" class="img-circle img-responsive" alt="A">
									</td>
									<td><%= player.squadNumber%></td>
									<td class="player-name"><a data-toggle="modal" data-target="#playerLim"><%= player.playerName %></a></td>
									<td><%= player.played %></td>
									<td><%= player.out %></td>
									<td><%= player.in %></td>
									<td><%= player.goalScored %></td>
									<td><%= player.penaltyScored %></td>
									<td class="hidden-xs"><%= player.ownGoal %></td>
									<td class="hidden-xs"><%= player.penaltyMissed %></td>
									<td class="hidden-xs"><%= player.yellowCard %></td>
									<td class="hidden-xs"><%= player.redCard %></td>
									<td class="hidden-xs"><%= player.secondYellowCard %></td>
								</tr>
						<% }); %>
					</tbody>


				</table>

			</div>
