<div class="row">
	<div class="col-md-12">

		<table class="table">
			<caption>
				<h5 class="text-left">이적판. </h5>
			</caption>
			<thead>
				<tr>
					<th></th>
					<th>확인</th>
					<th>이름</th>
					<th>포지션</th>
					<th>등번호</th>
				</tr>
			</thead>
			<tbody>
				<% club.transferList.forEach(function (item, index) { %>

					<tr>
						<% switch(item.transferStatus) {
							case "transfered" : %>
								<% console.log('이적생,,,,'); %>
								<% switch(item.transfer) {
									case "loveCall" : %>
										<td>러브콜</td>
										<td>
											완료 <span class="glyphicon glyphicon-ok text-success"></span>
										</td>
										<td>
											<%= item.playerName %>
										</td>
										<td>
											<%= item.position %>
										</td>
										<td>
											<%= item.squadNumber ? item.squadNumber : "" %>
										</td>
									<% break;
									case "requestCall" : %>
										<td>가입요청</td>
										<td>
											완료 <span class="glyphicon glyphicon-ok text-success"></span>
										</td>
										<td>
											<%= item.playerName %>
										</td>
										<td>
											<%= item.position %>
										</td>
										<td>
											<%= item.squadNumber ? item.squadNumber : "" %>
										</td>
									<% break;
								} %>
							<% break;
							case "wait" : %>
								<% switch(item.transfer) {
									case "loveCall" : %>
										<td>러브콜</td>
										<td>
											대기중..
										</td>
										<td>
											<%= item.playerName %>
										</td>
										<td>
											<%= item.position %>
										</td>
										<td>
											<%= item.squadNumber ? item.squadNumber : "" %>
										</td>
									<% break;
									case "requestCall" : %>
										<td>가입요청</td>
										<td>
											<span class="glyphicon glyphicon-pencil text-primary" data-toggle="modal" data-target=""></span>
											<!-- <span class="glyphicon glyphicon-remove text-danger" data-toggle="modal" data-target=""></span> -->
										</td>
										<td>
											<%= item.playerName %>
										</td>
										<td>
											<%= item.position %>
										</td>
										<td>
											<%= item.squadNumber ? item.squadNumber : "" %>
										</td>
									<% break;
								} %>
							<% break;
						} %>

					</tr>


				<% }); %>
			</tbody>
			<!-- <tbody>
				<tr>
					<td>t가입요청</td>
					<td>2015 여주</td>
					<td>승성</td>
					<td>
						<span class="glyphicon glyphicon-pencil text-primary" data-toggle="modal" data-target=""></span>
					</td>
				</tr>
				<tr>
					<td>t
						<span class="glyphicon glyphicon-heart-empty text-danger" data-toggle="modal" data-target=""></span>
						콜
					</td>
					<td>2015 여주</td>
					<td>승성</td>
					<td>
						거부됨
					</td>
				</tr>
				<tr>
					<td>t
						<span class="glyphicon glyphicon-heart-empty text-danger" data-toggle="modal" data-target=""></span>
						콜
					</td>
					<td>2015 여주</td>
					<td>승성</td>
					<td>대기중..</td>
				</tr>
			</tbody> -->
		</table>
	</div>
</div>
