<div class="row">
	<div class="col-md-12">

		<table class="table">
			<caption>
				<h4 class="text-left">이적시장 - </h4>
			</caption>
			<thead>
				<tr>
					<th></th>
					<th>확인</th>
					<th>이름</th>
					<th>포지션</th>
				</tr>
			</thead>
			<tbody>
				<% club.transfering.forEach(function (player, index) { %>

						<% switch(player.transferStatus) {
							case "transfered" : %>
								<tr class="success">
									<% switch(player.transfer) {
										case "loveCall" : %>
											<td>러브콜</td>
											<td>
												완료 <span class="glyphicon glyphicon-ok text-success"></span>
											</td>
											<td>
												<%= player.playerName %>
											</td>
											<td>
												<%= player.position %>
											</td>
											<td>
												<%= player.squadNumber ? player.squadNumber : "" %>
											</td>
										<% break;
										case "requestCall" : %>
											<td>가입요청</td>
											<td>
												완료 <span class="glyphicon glyphicon-ok text-success"></span>
											</td>
											<td>
												<%= player.playerName %>
											</td>
											<td>
												<%= player.position %>
											</td>
										<% break;
									} %>
								</tr>
							<% break;
							case "wait" : %>
								<tr>
									<% switch(player.transfer) {
										case "loveCall" : %>
											<td>러브콜</td>
											<td>
												대기중..
											</td>
											<td>
												<%= player.playerName %>
											</td>
											<td>
												<%= player.position %>
											</td>
										<% break;
										case "requestCall" : %>
											<td>가입요청</td>
											<!-- <td>
												<span class="glyphicon glyphicon-pencil text-primary" data-toggle="modal" data-target=".responseCallModal"></span>
											</td> -->
											<td>
												<span class="glyphicon glyphicon-pencil text-primary" data-toggle="modal" data-target=".responseCallModal"
												data-player-name="<%= player.playerName %>"
												data-player-id="<%= player.playerId %>"
												data-club-id="<%= club.clubId %>"
												data-player-position="<%= player.position %>"
												></span>
											</td>
											<td>
												<%= player.playerName %>
											</td>
											<td>
												<%= player.position %>
											</td>
										<% break;
									} %>
								</tr>
							<% break;
							case "reject" :
							case "rejected" : %>
								<tr class="danger">
									<% switch(player.transfer) {
										case "loveCall" : %>
											<td>러브콜</td>
											<td>
												거절
											</td>
											<td>
												<%= player.playerName %>
											</td>
											<td>
												<%= player.position %>
											</td>
										<% break;
										case "requestCall" : %>
											<td>가입요청</td>
											<td>
												거절
											</td>
											<td>
												<%= player.playerName %>
											</td>
											<td>
												<%= player.position %>
											</td>
										<% break;
									} %>
								</tr>
							<% break;
						} %>

				<% }); %>
			</tbody>
		</table>
	</div>
</div>
